<div class="standart-twin-main">
    <div class="standart-twin-title">
        <div class="standart-twin-pic">
            <img src="../../../../../assets/img/standart_2bad.png" alt="">
        </div>

        <h5>Стандарт (з двома окремими ліжками)</h5>
        <p>Однокімнатний двомісний номер з середньою
            площею 20 м<sup>2</sup>.<br> Bанна кімната – 3,2 м<sup>2</sup>.<br>
            Ширина ліжка складає 90 см.<br>
            Всі номери цієї категорії з балконами.</p>
    </div>
    <div class="standart-twin-tariffe">
        <div class="standart-twin-tariffe-bloc">
            <div class="standart-twin-tariffe-bloc-title">Проживання</div>
            <div>1 людина <span>2200 </span> грн.</div>
            <div>2 людина <span>2200 </span> грн.</div>

        </div>
        <div class="standart-twin-tariffe-bloc">
            <div class="standart-twin-tariffe-bloc-title">Проживання + сніданок</div>
            <div><span>2440 </span> грн.</div>
            <div><span>2680</span> грн.</div>

        </div>
        <p>Ціна вказана за номер на добу.</p>
    </div>
    <div class="standart-twin-inclusive">
        <p>Інтер’єр номерів може бути різним<br>Кількість номерів - 10</p>
        <h5>В номері:</h5>
        <ul>
            <li>Набір меблів</li>
            <li>Кондиціонер</li>
            <li>ТВ (кабельне)</li>
            <li>Безкоштовний WI-FI</li>
            <li>Телефон (прямий міжнародний доступ)</li>
            <li>Міні-бар</li>
            <li>Міні-сейф</li>
            <li>Фен</li>
            <li>Набір міні-парфумерії у ванній кімнаті</li>
            <li>Набір рушників, халат, капці</li>
            <li>Палити в номерах <span>заборонено!</span> </li>
        </ul>
    </div>
    <div class="standart-twin-galery">
        <h5>Фотогалерея:</h5>
        <img src="../../../../../assets/img/ban_main_2.jpg" alt="">
    </div>
    <div class="standart-twin-backpage">
        <button (click)="goBack()">повернутися</button>
    </div>
</div>