<div class="weekend-main">
    <div class="weekend-title">
        <img src="../../../../../assets/img/image3equel2.jpg.pagespeed.jpg" alt="">
        <h4>Літній WEEK-END</h4>
        <h5>три доби по ціні двох!!!</h5>
        <p>Якщо Ви вирішили провести свій уїк-енд в Києві, не втратьте чудову можливість
            забронювати номер у нашому готелі за спеціальними умовами.</p>
        <p>Пакет вихідного дня діє з п’ятниці по неділю включно.</p>
        <p>*Тариф доступний лише за умови бронювання на рецепції або через відділ бронювання.</p>
        <p>*Знижка не підсумовується з іншими акціями та пропозиціями</p>
    </div>
    <div class="weekend-backpage">
        <button (click)="goBack()">повернутися</button>
    </div>
</div>