@import '../../../../../styles.scss';
.weekend-main {
    width: 57%;
    height: 710px;
    margin-left: 420px;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: #777 2px 2px 13px;
    background: #fff;
    .weekend-title {
        .weekend-ban {
            width: 40%;
            img {
                box-shadow: #777 2px 2px 13px;
                max-width: 100%;
                float: left;
                margin: 50px;
            }
        }
        h4 {
            padding-top: 50px;
            color: #003b6e;
            text-align: center;
            font-weight: 600;
        }
        h5 {
            color: #476C00;
            text-align: center;
            text-transform: uppercase;
        }
        p {
            margin: 20px;
            &p:nth-of-type(2) {
                font-weight: 600;
            }
        }
    }
    .weekend-backpage button {
        @include backpage;
        margin-left: 50px;
    }
    .weekend-gapline {
        padding: 1px;
    }
}

@media (max-width: 960px) {
    .weekend-main {
        @include main960;
        height: 100%;        
        .weekend-title {
            .weekend-ban {
                width: 80%;
                margin: auto; 
                img {
                    float: none;
                    margin: 40px 0 0 0;                
                }
            }
            h5, h4, p {
                font-size: $fontSize;
                margin: 0 40px 20px 40px;
            }
        }
        .weekend-backpage button {
            @include backpage_960;                            
        }
    }
}