@import '../../../../../styles.scss';
.tour-main {
    width: 57%;
    height: 710px;
    margin: 20px 0 0 420px;
    border-radius: 5px;
    box-shadow: #777 2px 2px 13px;
    background: #fff;
    .tour-ban {
        width: 40%;
        img {
            box-shadow: #777 2px 2px 13px;
            max-width: 100%;
            float: left;
            margin: 50px;
        }
    }
    .tour-title {
        margin: 20px;
       
        h5 {
            padding-top: 50px;
            color: #003b6e;
            text-align: center;
            font-weight: 600;
        }
        p {
            font-weight: 600;
            text-align: center;
        }
        ul li {
            list-style: none;
            a {
                color: inherit;
            }
        }        
    }
    .tour-backpage button {
        @include backpage;
    }
    .tour-gapline {
        padding: 1px;
    }
}

@media (max-width: 960px) {
    .tour-main {
        @include main960;
        height: 100%;
        .tour-ban {
            width: 80%;
            margin: auto; 
            img {
                float: none;
                margin: 40px 0 0 0;                
            }
        }
        .tour-title h5, p, li, a {
            font-size: $fontSize;
        }
        .tour-backpage button {
            @include backpage_960;                             
        }
    }
}