<div class="tour-main">
    <div class="tour-ban">
        <img src="https://picua.org/images/2019/11/16/4762855ee46b764c49c4b703577cdc03.jpg" alt="">
    </div>
    <div class="tour-title">
        <h5>Екскурсії в Чорнобильську зону та Прип'ять</h5>
        <p>Всім гостям готелю «Заласся» надається можливість замовити унікальну екскурсію
            до Чорнобиля! Чекаємо Вас!
        </p>
        <ul>
            <li>Відділ бронювання (цілодобово):</li>
            <li>Тел.: +38 (444) 494 14 20</li>
            <li>Тел.: +38 (444) 494 14 00</li>
            <li>Факс: +38 (444) 280 61 30</li>
            <li><a href="mailto:hotel@zalassya.kiev.ua" class="footer-write-mail" target="blank">
                    hotel@zalassya.kiev.ua
                </a></li>
        </ul>
    </div>
    <div class="tour-backpage">
        <button (click)="goBack()">повернутися</button>
    </div>
    <div class="tour-gapline"></div>
</div>