@import '../../../../../styles.scss';
.tour-main {
    width: 57%;
    height: 710px;
    margin: 20px 0 0 420px;
    border-radius: 5px;
    box-shadow: #777 2px 2px 13px;
    background: #fff;
    .tour-title {
        margin: 20px;
        img {
            box-shadow: #777 2px 2px 13px;
            width: 360px;
            float: left;
            margin: 50px;
        }
        h5 {
            padding-top: 50px;
            color: #003b6e;
            text-align: center;
            font-weight: 600;
        }
        p {
            font-weight: 600;
            text-align: center;
        }
        ul li {
            list-style: none;
        }        
    }
    .tour-backpage button {
        width: 150px;
        height: 30px;
        color: azure;
        font-size: 18px;
        background: linear-gradient(0deg, #888888, #F7F7F7);
    }
}