<div class="tariffs-main">
    <div class="tariffs-title">
        <h1 class="tariffs-headline">Перелік тарифів і правила проживання в готелі «Заласся»</h1>
        <p>Ціни вказані за НОМЕР за добу в гривнях України. <br>
            Ціни на готельні послуги вказані з ПДВ.</p>
    </div>
    <div class="tariffs-table">
        <table>
            <tr>
                <th rowspan="3">Категорія номеру*</th>
                <th colspan="6">Ціни вказані за НОМЕР на добу, в гривнях України</th>
            </tr>
            <tr>
                <th colspan="3">У вартість номера входить проживання</th>
                <th colspan="3">У вартість номера входить проживання та харчування (сніданок)</th>
            </tr>
            <tr>
                <th>Одномісне поселення</th>
                <th>Двомісне поселення</th>
                <th>Тримісне поселення</th>
                <th>Одномісне поселення</th>
                <th>Двомісне поселення</th>
                <th>Тримісне поселення</th>
            </tr>
            <tr>
                <td class="tariffs-table-bold">Економ</td>
                <td>1700.00 грн.</td>
                <td>1700.00 грн.</td>
                <td>-</td>
                <td>1940.00 грн.</td>
                <td>2180.00 грн.</td>
                <td>-</td>
            </tr>
            <tr>
                <td class="tariffs-table-bold">Стандартний (двоспальне ліжко)</td>
                <td>2200.00 грн.</td>
                <td>2200.00 грн.</td>
                <td>-</td>
                <td>2440.00 грн.</td>
                <td>2480.00 грн.</td>
                <td>-</td>
            </tr>
            <tr>
                <td class="tariffs-table-bold">Стандартний (роздільні ліжка)</td>
                <td>2200.00 грн.</td>
                <td>2200.00 грн.</td>
                <td>-</td>
                <td>2440.00 грн.</td>
                <td>2480.00 грн.</td>
                <td>-</td>
            </tr>
            <tr>
                <td class="tariffs-table-bold">Стандартний покращений</td>
                <td>2500.00 грн.</td>
                <td>2500.00 грн.</td>
                <td>-</td>
                <td>2740.00 грн.</td>
                <td>2980.00 грн.</td>
                <td>-</td>
            </tr>
            <tr>
                <td class="tariffs-table-bold">Напівлюкс</td>
                <td>2700.00 грн.</td>
                <td>2700.00 грн.</td>
                <td>2700.00 грн.</td>
                <td>2940.00 грн.</td>
                <td>3180.00 грн.</td>
                <td>3420.00 грн.</td>
            </tr>
            <tr>
                <td class="tariffs-table-bold">Люкс</td>
                <td>3100.00 грн.</td>
                <td>3100.00 грн.</td>
                <td>3100.00 грн.</td>
                <td>3340.00 грн.</td>
                <td>3580.00 грн.</td>
                <td>3820.00 грн.</td>
            </tr>
        </table>
    </div>
    <div class="tariffs-info">
        <p>* Діти до 5 років без надання додаткового місця і харчування проживають безкоштовно</p>
        <p>Ціни на послуги готелю вказані з урахуванням ПДВ.<br>
            Туристичний збір сплачується додатково у розмірі 41.73 грн. для нерезидентів (іноземці) та 16.70 грн. для
            резидентів (українці) за одну добу проживання відповідно до Податкового кодексу України.</p>
        <p>* Номери готелю однієї категорії не є абсолютно ідентичними і можуть трохи відрізнятися інтер'єром,
            внутрішнім оздобленням і обладнанням.</p>
        <h5>Умови розміщення :</h5>
        <ul>
            <li>Реєстрація та заселення в готель починається о 14:00 за місцевим часом.</li>
            <li>Виселення з готелю до 12:00 за місцевим часом.</li>
            <li>За умови заселення з 00:00 до 06:00 необхідно сплатити 100% від вартості номера за одну розрахункову
                добу. </li>
            <li>Ранній заїзд після 06:00 здійснюється без доплати і можливий тільки за наявності вільних номерів.</li>
            <li>За проживання в готелі менше розрахункової доби необхідно сплати повну вартість кімнати за розрахункову
                добу.</li>
            <li>Виїзд з готелю після 12:00 можливий за умови наявності вільних номерів. Ця послуга є платною, а саме -
                25% від вартості номеру до 15:00, 50% від вартості номеру до 24:00</li>
        </ul>
        <h5>Умови оплати :</h5>
        <ul>
            <li>Сплатити проживання необхідно при поселенні. Готель приймає до сплати готівку (гривня), кредитні картки
                Visa, Maestro, MasterCard, American Express, можлива безготівкова форма оплати (за попередньою
                домовленістю).</li>
            <li>Туристичний збір (41.73 грн. для нерезидентів (іноземці) та 16.70 грн. для резидентів (українці)за одну
                добу проживання) оплачується окремо при поселенні.</li>
            <li>У разі неприбуття гостя до 18:00 (час анулювання броні) дня заїзду, заявка анулюється, якщо бронювання
                номера не було підтверджене додатково.</li>
        </ul>
        <h5>Заборона паління:</h5>
        <ul>
            <li>Згідно із Законом України № 4844-VI від 24.05.2012 року забороняється куріння тютюнових виробів,
                електронних сигарет і кальянів на території всього готелю (номерах, коридорах, фойє, кафе та ресторані).
            </li>
            <li>озволяється курити в спеціально відведеному місці. Кімната для паління знаходиться на 1 поверсі готелю
            </li>
        </ul>
    </div>
    <div class="tariffs-table-pat">
        <h5>Умови розміщення з домашніми вихованцями:</h5>
        <table>
            <tr>
                <th rowspan="2">Категорія номеру*</th>
                <th colspan="2">Ціни вказані за НОМЕР на добу, в гривнях України</th>
            </tr>
            <tr>
                <th>Проживання з 1 собакою</th>
                <th>Проживання з 1 кішкою</th>
            </tr>
            <tr>
                <td class="tariffs-table-bold">Економ</td>
                <td>800.00 грн.</td>
                <td>300.00 грн.</td>
            </tr>
            <tr>
                <td class="tariffs-table-bold">Стандартний (двоспальне ліжко)</td>
                <td>1000.00 грн.</td>
                <td>500.00 грн.</td>
            </tr>
            <tr>
                <td class="tariffs-table-bold">Стандартний (роздільні ліжка)</td>
                <td>1000.00 грн.</td>
                <td>500.00 грн.</td>
            </tr>
            <tr>
                <td class="tariffs-table-bold">Стандартний покращений</td>
                <td>1000.00 грн.</td>
                <td>500.00 грн.</td>
            </tr>
            <tr>
                <td class="tariffs-table-bold">Напівлюкс</td>
                <td>1000.00 грн.</td>
                <td>500.00 грн.</td>
            </tr>
        </table>
        <p>Ціни на послуги готелю вказані з урахуванням ПДВ.</p>
        <h5>Ми докладемо усі зусилля, щоб Ваше перебування в нашому готелі було приємним і комфортним!</h5>
    </div>
</div>