<div class="small-hall-main">
    <div class="small-hall-ban">
        <img src="https://picua.org/images/2019/11/18/7123a0e13dd8b78e802373bf38e6253d.jpg" alt="">
    </div>

    <div class="small-hall-title">
        <h5>Малий конференц-зал</h5>
        <p>Малий конференц-зал суміжний із центральним залом ресторану «Залибоба». Площа залу 32 кв.м, висота стелі –
            3,2м.
            Зал розрахований на 20 місць. Елітно декорований VIP-зал ідеально підходить як для затишної ділової зустрічі
            у форматі «круглий стіл», так і для проведення урочистих заходів. Ідеальне місце для серйозних розмов та
            прийняття важливих рішень.</p>
        <p>Технічне забезпечення: кондиціонер, мультимедійний проектор, екран, TV з можливістю підключення комп’ютера,
            DVD плеєр.</p>
        <p>Для учасників заходів у малому конференц-залі, надаються послуги банкетного обслуговування: кава-брейк,
            банкет, прийом з комплексним меню.</p>
    </div>
    <div class="small-hall-contacts">
        <h5>Наші контакти:</h5>
        <ul>
            <li>Teл: +38 444 644 85 54</li>
            <li>вул. Івана Сірко, 11-Б, Київ, 00001, Україна</li>
            <li><a href="mailto:hotel@zalassya.kiev.ua" class="footer-write-mail" target="blank">
                    hotel@zalassya.kiev.ua
                </a>
            </li>
        </ul>
    </div>
    <div class="small-hall-fotogelery">
        <h5>Фотогалерея:</h5>
        <img (click)=toggleDisplay() src="https://picua.org/images/2019/11/16/da0f950df5a27b5d46ee4e6c11300910.jpg"
            alt="">

        <div [hidden]="isShow" class="black-window">
            <img class="modal-close" (click)=toggleDisplay()
                src="https://picua.org/images/2019/12/08/93abd84ecdd3cf125f4703643f6eab46.png" alt="">

            <div class="slider">

                <input type="radio" name="slide_switch" id="id1" checked="checked" />
                <label id="first-pic" for="id1">
                    <img src="https://picua.org/images/2019/11/18/9bc98e6ac829e06dfc140fabf4f75f5c.jpg" alt="">
                </label>
                <img src="https://picua.org/images/2019/11/18/9bc98e6ac829e06dfc140fabf4f75f5c.jpg" alt="">

                <input type="radio" name="slide_switch" id="id2" />
                <label for="id2">
                    <img src="https://picua.org/images/2019/12/08/75eb0cd248dd1ba047ca0bbaaaba5680.jpg" alt="">
                </label>
                <img src="https://picua.org/images/2019/12/08/75eb0cd248dd1ba047ca0bbaaaba5680.jpg" alt="">

                <input type="radio" name="slide_switch" id="id3" />
                <label for="id3">
                    <img src="https://picua.org/images/2019/11/18/346709710009b840a575d65bb822b890.jpg" alt="">
                </label>
                <img src="https://picua.org/images/2019/11/18/346709710009b840a575d65bb822b890.jpg" alt="">

                <input type="radio" name="slide_switch" id="id4" />
                <label for="id4">
                    <img src="https://picua.org/images/2019/11/18/143b94c676e8e53a10fea71169afe43f.jpg" alt="">
                </label>
                <img src="https://picua.org/images/2019/11/18/143b94c676e8e53a10fea71169afe43f.jpg" alt="">

                <input type="radio" name="slide_switch" id="id5" />
                <label class="last-pic" for="id5">
                    <img src="https://picua.org/images/2019/11/18/cc16d0c3c078f7048f9843dda8614742.jpg" alt="">
                </label>
                <img src="https://picua.org/images/2019/11/18/cc16d0c3c078f7048f9843dda8614742.jpg" alt="">
            </div>
        </div>
    </div>
    <div class="small-hall-backpage">
        <button (click)="goBack()">повернутися</button>
    </div>
    <div class="small-hall-gapline"></div>
</div>