<div class="small-hall-main">
    <div class="small-hall-ban">
        <img src="https://picua.org/images/2019/11/16/da0f950df5a27b5d46ee4e6c11300910.jpg" alt="">
    </div>

    <div class="small-hall-title">
        <h5>Малий конференц-зал</h5>
        <p>Малий конференц-зал суміжний із центральним залом ресторану «Залибоба». Площа залу 32 кв.м, висота стелі –
            3,2м.
            Зал розрахований на 20 місць. Елітно декорований VIP-зал ідеально підходить як для затишної ділової зустрічі
            у форматі «круглий стіл», так і для проведення урочистих заходів. Ідеальне місце для серйозних розмов та
            прийняття важливих рішень.</p>
        <p>Технічне забезпечення: кондиціонер, мультимедійний проектор, екран, TV з можливістю підключення комп’ютера,
            DVD плеєр.</p>
        <p>Для учасників заходів у малому конференц-залі, надаються послуги банкетного обслуговування: кава-брейк,
            банкет, прийом з комплексним меню.</p>
    </div>
    <div class="small-hall-contacts">
        <h5>Наші контакти:</h5>
        <ul>
            <li>Teл: +38 444 644 85 54</li>
            <li>вул. Івана Сірко, 11-Б, Київ, 00001, Україна</li>
            <li><a href="mailto:hotel@zalassya.kiev.ua" class="footer-write-mail" target="blank">
                    hotel@zalassya.kiev.ua
                </a>
            </li>
        </ul>
    </div>
    <div class="small-hall-fotogelery">
        <h5>Фотогалерея:</h5>
        <a href="#"><img src="https://picua.org/images/2019/11/18/7123a0e13dd8b78e802373bf38e6253d.jpg" alt=""></a>
    </div>
    <div class="small-hall-backpage">
        <button (click)="goBack()">повернутися</button>
    </div>
</div>