<footer class="footer-wrap">
  <div class="footer-grid">
    <div class="footer-map">
      <a routerLink="/contacts">
        <img src="../../../assets/img/ukraine.jpg" alt="map">
      </a>
    </div>
    <div class="footer-contacts">
      <h4>Контакти</h4>
      <ul>
        <li>Тел. +38 444 494 14 24</li>
        <li>Факс. +38 444 280 26 04</li>
        <li><a href="mailto:hotel@zalassya.kiev.ua" class="footer-write-mail" target="blank">
            hotel@zalassya.kiev.ua
          </a>
        </li>
        <li>вул. Івана Сірко, 11-Б, <br> м. Київ, 00001</li>
      </ul>
    </div>
    <nav class="footer-nav">
      <ul>
        <li><a routerLink="/hotel">Готель</a></li>
        <li><a routerLink="/restaurant">Ресторани та бари</a></li>
        <li><a routerLink="/rooms">Номери</a></li>
        <li><a routerLink="/attendance">Послуги</a></li>
        <li><a routerLink="/conference">Конференції та банкети</a></li>
        <li><a routerLink="/specProposalsotel">Спеціальні пропозиції</a></li>
        <li><a routerLink="/contacts">Контакти</a></li>
        <li><a routerLink="/map">Мапа сайту</a></li>
      </ul>
    </nav>
    <div class="footer-social">
      <div>
        <a href="https://www.tripadvisor.com/" target="_blank" class="hide footer-social-tripadvisor"
          rel="nofollow">tripadvisor
        </a>
      </div>
      <div>
        <a href="https://www.facebook.com/" target="_blank" class="hide footer-social-facebook" rel="nofollow">facebook

        </a>
      </div>
      <div>
        <a href="https://twitter.com/" target="_blank" class="hide footer-social-twitter" rel="nofollow">twitter

        </a>
      </div>
      <div>
        <a href="https://telegram.org/" target="_blank" class="hide footer-social-telegram" rel="nofollow">telegram

        </a>
      </div>
      <div>
        <a href="https://www.skype.com/en/" target="_blank" class="hide footer-social-skype" rel="nofollow">skype

        </a>
      </div>
      <div>
        <a href="https://www.instagram.com/?hl=en" target="_blank" class="hide footer-social-instagram"
          rel="nofollow">instagram

        </a>
      </div>
      <div>
        <a href="https://www.viber.com/" target="_blank" class="hide footer-social-viber" rel="nofollow">viber

        </a>
      </div>
      <div>
        <a href="https://www.whatsapp.com/" target="_blank" class="hide footer-social-whatsapp" rel="nofollow">whatsapp

        </a>
      </div>
      <div>
        <a href="https://www.messenger.com/" target="_blank" class="hide footer-social-messenger"
          rel="nofollow">messenger

        </a>
      </div>
      <div>
        <a href="https://www.pinterest.com/" target="_blank" class="hide footer-social-pinterest"
          rel="nofollow">pinterest

        </a>
      </div>
      <div>
        <a href="https://www.youtube.com/" target="_blank" class="hide footer-social-youtube" rel="nofollow">youtube

        </a>
      </div>
      <div>
        <a href="https://www.linkedin.com/" target="_blank" class="hide footer-social-linkedin" rel="nofollow">linkedin

        </a>
      </div>
      <div>
        <a href="https://hangouts.google.com/" target="_blank" class="hide footer-social-hangouts"
          rel="nofollow">hangouts

        </a>
      </div>
      <div>
        <a href="https://www.share.com/" target="_blank" class="hide footer-social-share" rel="nofollow">share

        </a>
      </div>
      <div>
        <a href="https://www.pscp.tv/" target="_blank" class="hide footer-social-periscope" rel="nofollow">periscope

        </a>
      </div>
      <div>
        <a href="https://www.snapchat.com/" target="_blank" class="hide footer-social-snapchat" rel="nofollow">snapchat

        </a>
      </div>
      <div>
        <a href="https://tinder.com/" target="_blank" class="hide footer-social-tinder" rel="nofollow">tinder

        </a>
      </div>
      <div>
        <a href="https://www.reddit.com/" target="_blank" class="hide footer-social-reddit" rel="nofollow">reddit

        </a>
      </div>
      <div>
        <a href="https://www.swarmapp.com/" target="_blank" class="hide footer-social-swarm" rel="nofollow">swarm

        </a>
      </div>
      <div>
        <a href="https://www.tumblr.com/" target="_blank" class="hide footer-social-tumblr" rel="nofollow">tumblr

        </a>
      </div>
    </div>
  </div>
  <div class="footer-bottom">1019 – 2019 Готель «Заласся». Усі права захищені</div>
</footer>