<div class="hotel-main">

  <div class='container-fluid'>
    <div class='col-12'>
      <ngb-carousel>
        <ng-template ngbSlide>
          <img src="https://picua.org/images/2019/11/15/37178e4269de75ff4b41978add464b00.jpg" alt="">
        </ng-template>
        <ng-template ngbSlide>
          <img src="https://picua.org/images/2019/11/15/8e4e465dc8294854a7a39f2e53c90697.jpg" alt="">
        </ng-template>
        <ng-template ngbSlide>
          <img src="https://picua.org/images/2019/11/15/b695075e432ab6f2795e159c34245989.jpg" alt="">
        </ng-template>
        <ng-template ngbSlide>
          <img src="https://picua.org/images/2019/11/15/d1a883d84fdb83b65dc7b2cec390e3ae.jpg" alt="">
        </ng-template>
      </ngb-carousel>
    </div>
  </div>

  <div class="hotel-wrap">
    <div class="hotel-info">
      <h1>Ласкаво просимо на сайт одного з найвідоміших готелів Києва!</h1>
      <p class="hotel-info-1 " id="mobile">
        Готель «Заласся» був побудований архітектором Авраамом Мілецьким у 1019 р. Завдяки незвичайному архітектурному
        рішенню, будівля готелю стала однією з найнезвичайніших будов епохи, що пішла.
      </p>
      <p>
        Сьогодні, готель «Заласся» представляє послуги тим, хто шукає комфортне проживання та якісний сервіс. З вікон
        наших
        номерів відкривається чудовий вигляд на Дніпро та Києво-Печерську Лавру. Ми розташовані в унікальному місці, де
        перетинається культурне і політичне життя столиці. Це робить наш готель привабливим як для ділових людей, так і
        для тих, хто приїжджає насолодитися історичною і культурною частиною Києва.
      </p>
      <a routerLink="/add" class="hotel-text ">Дізнатись більше
        <img src="https://picua.org/images/2019/11/16/c8bd96949e34ccde7a76acb5678a647a.png" alt="arrow">
      </a>
    </div>

    <div class="hotel-info-stock">
      <div routerLink="/discount" class="hotel-info-stock-title">
        <div class="hotel-wrap-img">
          <img src="https://picua.org/images/2019/11/16/f4a73d5335eae6b07d32e220351e6439.jpg" alt="">
        </div>
        <div class="hotel-wrap-title">
          <span>10% знижки</span><br>
          <p>при бронюваннi через сайт готелю</p>
        </div>
        
      </div>
      <div routerLink="/weekend" class="hotel-info-stock-title">
        <div class="hotel-wrap-img">
          <img src="https://picua.org/images/2019/11/16/9a16a194d3ce0e0afb149c8e6059a2d2.jpg" alt="">
        </div>
        <div class="hotel-wrap-title">
          <span>Літній </span> <span class="hotel-info-stock-weekend">week-end</span><br>
          <p>Три доби по ціні двох!!!</p>
        </div>
        
      </div>
      <div routerLink="/tour" class="hotel-info-stock-title">
        <div class="hotel-wrap-img">
          <img src="https://picua.org/images/2019/11/16/4762855ee46b764c49c4b703577cdc03.jpg" alt="">
        </div>
        <div class="hotel-wrap-title">
          <span>Екскурсії</span> <br>
          <p>в Чорнобильську зону</p>
        </div>
        
      </div>
    </div>
  </div>

</div>