@import '../../../styles.scss';
.hotel-main {
    width: 62%;
    height: 100%;
    margin: 20px 0 0 420px;
    background: #fff;
    border-radius: 5px;
    .container-fluid img {
        border-radius: 5px;
        max-width: 100%;
        margin-top: 30px;
    }
    .hotel-wrap {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(335px, 1fr));
        grid-gap: 1vw;
        justify-items: center;
        margin: 40px 0 0 0;
        h1 {
            font-size: 28px;
            color: #00407A;
            font-weight: 700;
            text-align: center;
        }
        .hotel-info {
            margin: 0 20px 50px 30px;
            background: #fff;
            text-align: center;
            .hotel-info-1 {
                font-weight: bold;
                font-size: 14px;
            }
            a.hotel-text {
                text-decoration: none;
                color: #728ECE;
                font-size: 18px;                
            }
        }
        .hotel-info-stock {
            width: 70%;    
            span {
                font-size: 16px;
                color: #476C00;
                font-weight: bold;
            }
            p {
                font-weight: bold;
            }
            .hotel-info-stock-weekend {
                text-transform: uppercase
            }
            .hotel-info-stock-title {
                display: grid;
                grid-template-columns: 20% 80%;
                border-radius: 5px;
                margin-bottom: 20px;
                box-shadow: #777 2px 2px 7px;
                background: #fff;
                cursor: pointer;
                text-align: center;    
                .hotel-wrap-img {
                    margin: 5px;
                    img {
                        max-width: 100%;
                        transform: scale(1,1);
                        transition-timing-function: ease-out;
                        transition-duration: 550ms;
                        &:hover {
                            transform: scale(1.5,1.5);
                            transition-timing-function: ease-out;
                            transition-duration: 700ms;
                        }
                    }
                }
            }
            .hotel-galery {
                margin-top: 20px;
                h3 {
                    color: #00407a;
                }
                img {
                    width: 30%;
                    border-radius: 5px;
                    float: left;
                    margin-right: 10px;  
                    cursor: pointer;           
                }
                .hotel-galery-last {
                    margin: 0;
                }
                .black-window {
                    width: 100%;
                    position: fixed;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    background: rgba(0,0,0,0.95);
                    z-index: 2;
                }
                .modal-close {
                    width: 5%;
                    margin: 0;
                    border: none;
                    box-shadow: none;
                    position: fixed;
                    right: 0;
                    z-index: 3;
                    cursor: pointer;
                }
                .slider {
                  width: 100%;
                  position: relative;
                  padding-top: 40%;
                  margin: 0 auto;
                  img {
                    margin: 0;
                    border: none;
                    box-shadow: none;
                  }
                }
                .slider>img{        
                  position: absolute;
                  left: 50%; 
                  margin-left: -30%;
                  top: 0;
                  transition: all 0.5s;
                  width: 60%;
                }
                .slider input[name='slide_switch'] {
                  display: none;
                }
                .slider label {
                  margin-top: 15px;
                  margin-right: 4.4%;
                  border: 3px solid #999;
                  float: left;
                  cursor: pointer;
                  transition: all 0.5s;
                  opacity: 0.6;
                 }
                label#first-pic {
                  margin-left: 20%;
                }
                .slider label img{
                  display: block;
                  width: 8vw;
                }
                .slider input[name='slide_switch']:checked+label {
                  border-color: #666;
                  opacity: 1;
                }
                .slider input[name='slide_switch'] ~ img {
                  opacity: 0;
                  transform: scale(1.1);
                }
                .slider input[name='slide_switch']:checked+label+img {
                  opacity: 1;
                  transform: scale(1);
              }
            }
        }
    }
}

@media (max-width: 960px) {
    .hotel-main {
        @include main960;
        .hotel-wrap {
            grid-template-columns: repeat(1, 1fr);
        }
        p {
            font-size: $fontSize; 
        }
        .hotel-text {
            font-size: $fontSize;
            img {
                zoom: 2;
            }
        }
        span {
            font-size: $fontSize;
        }   
        .hotel-info {
            #mobile {
                font-size: $fontSize;
            }
        } 
        .hotel-info h1,
        .hotel-galery h3 {
            font-size: 30px;
            text-align: center;
        }        
    }
}
