<div class="zalet-main">
    <div class="zalet-ban">
        <div class="zalet-pic">
            <img src="https://picua.org/images/2019/11/16/e55264ae485e381220a4b778b7b50e91.jpg" alt="">
        </div>

        <div class="zalet-rate">
            <h3>Денний тариф - 4000 грн.</h3>
            <p>*10 годин оренди протягом дня до 30 чол.</p>
            <h3>Денний тариф - 5000 грн.</h3>
            <p>*10 годин оренди протягом дня від 30 чол і більше.</p>

        </div>
    </div>

    <div class="zalet-title">
        <h5 class="zalet-title-zalet">Конференц-зал «Залет»</h5>
        <p>Зал на 70 місць (100 м<sup>2</sup>)</p>
        <p>Сучасний конференц-зал «Залет» на рівні 12 поверху готелю дозволяє приймати учасників чисельністю до 70 осіб.
            Зал ідеально підійде для проведення різноманітних конференцій, форумів, презентацій і тренінгів. Це просторе
            приміщення з штучним і природним освітленням та прекрасним видом на місто.</p>
        <p>Розміщення учасників: «театр»</p>
        <p>Технічне забезпечення: мультимедійний проектор, екран для презентацій, презентатор, фліпчарт, ноутбук,
            система об'ємного звуку, мікрофон, система кондиціонування та вентиляції, Wi-Fi.</p>
        <p>Для учасників заходів у конференц-залі надаються послуги банкетного обслуговування: кава-брейк, фуршет,
            прийом з комплексним меню.</p>
        <h5>Оренда залу:</h5>
        <a href="../../../../../assets/img/Конференц-зал укр(1).docx" class="zalet-rent">Вартість оренди</a>
    </div>

    <div class="zalet-contacts">
        <h5>Наші контакти:</h5>
        <ul>
            <li>Teл: +38 444 644 85 54</li>
            <li>вул. Івана Сірко, 11-Б, Київ, 00001, Україна</li>
            <li><a href="mailto:hotel@zalassya.kiev.ua" class="footer-write-mail" target="blank">
                    hotel@zalassya.kiev.ua
                </a>
            </li>
        </ul>
    </div>
    <div class="zalet-fotogelery">
        <h5>Фотогалерея:</h5>
        <a href="#"><img src="https://picua.org/images/2019/11/18/fd065c4211745484dc22b9ed34ea2d8b.jpg" alt=""></a>
    </div>
    <div class="zalet-backpage">
        <button (click)="goBack()">повернутися</button>
    </div>
</div>