<div class="confect-main">
    <div class="confect-title">
        <div class="confect-pic">
            <img src="../../../../../assets/img/rest_kond1.jpg" alt="">
        </div>

        <h5>Кафе-кондитерська</h5>
        <p>«Кафе-кондитерська» - це затишна атмосфера, вишуканий інтер'єр і попереджувальні офіціанти. Але найголовніше
            - широкий вибір тортів, тістечок, круассанів, морозива, і, як доповнення до них, - елітних сортів алкоголю,
            чаю та кави.</p>
        <p>Затишний інтер'єр і потопаючий в зелені літній майданчик дозволить відпочити за чашкою відмінної кави і
            побалувати себе дивовижним десертом від наших кондитерів. У кафе працює безкоштовний швидкісний WIFI.</p>
        <p>Наше кафе працює за європейськими стандартами і пропонує широкий асортимент кондитерських виробів з
            натуральних інгредієнтів, здатних задовольнити будь-який смак!</p>
        <p>Для наших гостей працює принцип «Take out». Всі наші кондитерські вироби готуються на замовлення.</p>
        <p>Торти і тістечка від «Кафе-кондитерська» можуть стати найсмачнішою і незвичайною прикрасою Вашого столу!</p>
    </div>
    <div class="confect-contacts">
        <h5>Наші контакти:</h5>
        <ul>
            <li>Teл: +38 444 494 14 08</li>
            <li>вул. Івана Сірко, 11-Б, Київ, 00001, Україна</li>
            <li><a href="mailto:hotel@zalassya.kiev.ua" target="blank">
                    hotel@zalassya.kiev.ua
                </a>
            </li>
        </ul>
    </div>
    <div class="confect-fotogelery">
        <h5>Фотогалерея:</h5>
        <a href=""><img src="../../../../../assets/img/caffe_cond2.jpg" alt=""></a>

    </div>
    <div class="confect-backpage">
        <button (click)="goBack()">повернутися</button>
    </div>
</div>