<div class="confect-main">
    <div class="confect-title">
        <div class="confect-pic">
            <img src="https://picua.org/images/2019/11/18/e54bf79693e0a9e90beaac177240530c.jpg" alt="">
        </div>

        <h5>Кафе-кондитерська</h5>
        <p>«Кафе-кондитерська» - це затишна атмосфера, вишуканий інтер'єр і попереджувальні офіціанти. Але найголовніше
            - широкий вибір тортів, тістечок, круассанів, морозива, і, як доповнення до них, - елітних сортів алкоголю,
            чаю та кави.</p>
        <p>Затишний інтер'єр і потопаючий в зелені літній майданчик дозволить відпочити за чашкою відмінної кави і
            побалувати себе дивовижним десертом від наших кондитерів. У кафе працює безкоштовний швидкісний WIFI.</p>
        <p>Наше кафе працює за європейськими стандартами і пропонує широкий асортимент кондитерських виробів з
            натуральних інгредієнтів, здатних задовольнити будь-який смак!</p>
        <p>Для наших гостей працює принцип «Take out». Всі наші кондитерські вироби готуються на замовлення.</p>
        <p>Торти і тістечка від «Кафе-кондитерська» можуть стати найсмачнішою і незвичайною прикрасою Вашого столу!</p>
    </div>
    <div class="confect-contacts">
        <h5>Наші контакти:</h5>
        <ul>
            <li>Teл: +38 444 494 14 08</li>
            <li>вул. Івана Сірко, 11-Б, Київ, 00001, Україна</li>
            <li><a href="mailto:hotel@zalassya.kiev.ua" target="blank">
                    hotel@zalassya.kiev.ua
                </a>
            </li>
        </ul>
    </div>
    <div class="confect-fotogelery">
        <h5>Фотогалерея:</h5>
        <img (click)=toggleDisplay() src="https://picua.org/images/2019/11/16/5516391d7ed0058f52b2d6453c07677a.jpg"
            alt="">
        <div [hidden]="isShow" class="black-window">
            <img class="modal-close" (click)=toggleDisplay()
                src="https://picua.org/images/2019/12/08/93abd84ecdd3cf125f4703643f6eab46.png" alt="">

            <div class="slider">

                <input type="radio" name="slide_switch" id="id1" checked="checked" />
                <label id="first-pic" for="id1">
                    <img src="https://picua.org/images/2019/11/18/9bc98e6ac829e06dfc140fabf4f75f5c.jpg" alt="">
                </label>
                <img src="https://picua.org/images/2019/11/18/9bc98e6ac829e06dfc140fabf4f75f5c.jpg" alt="">

                <input type="radio" name="slide_switch" id="id2" />
                <label for="id2">
                    <img src="https://picua.org/images/2019/12/08/75eb0cd248dd1ba047ca0bbaaaba5680.jpg" alt="">
                </label>
                <img src="https://picua.org/images/2019/12/08/75eb0cd248dd1ba047ca0bbaaaba5680.jpg" alt="">

                <input type="radio" name="slide_switch" id="id3" />
                <label for="id3">
                    <img src="https://picua.org/images/2019/11/18/346709710009b840a575d65bb822b890.jpg" alt="">
                </label>
                <img src="https://picua.org/images/2019/11/18/346709710009b840a575d65bb822b890.jpg" alt="">

                <input type="radio" name="slide_switch" id="id4" />
                <label for="id4">
                    <img src="https://picua.org/images/2019/11/18/143b94c676e8e53a10fea71169afe43f.jpg" alt="">
                </label>
                <img src="https://picua.org/images/2019/11/18/143b94c676e8e53a10fea71169afe43f.jpg" alt="">

                <input type="radio" name="slide_switch" id="id5" />
                <label class="last-pic" for="id5">
                    <img src="https://picua.org/images/2019/11/18/cc16d0c3c078f7048f9843dda8614742.jpg" alt="">
                </label>
                <img src="https://picua.org/images/2019/11/18/cc16d0c3c078f7048f9843dda8614742.jpg" alt="">
            </div>
        </div>
    </div>
    <div class="confect-backpage">
        <button (click)="goBack()">повернутися</button>
    </div>
    <div class="confect-gapline"></div>
</div>