<div class="birthday-tariff-main">
    <div class="birthday-pic">
        <img src="../../../assets/img/max-happy_b-day.jpg" alt="">
    </div>

    <p>Якщо Ви плануєте святкувати свій день народження в нашому готелі, скористуйтеся спеціальним пакетом «Іменинник»
    </p>
    <p>В день Вашого народження:</p>
    <ul>
        <li>Знижка 20% на проживання в номері будь-якої категорії</li>
        <li>Знижка 10% на все меню та послуги ресторану «Залибоба»</li>
        <li>Ранній заїзд та пізній виїзд до 15:00 – <span>безкоштовно
                <img src="../../../../../assets/img/smile.gif" alt="">
            </span></li>
    </ul>
    <p>*Ранній заїзд та пізній виїзд можливі тільки за умови наявності вільних номерів вибраної категорії <br>
        *Пропозиція дійсна лише за умови бронювання на рецепції або через відділ бронювання</p>
    <div class="birthday-tariff-backpage">
        <button (click)="goBack()">повернутися</button>
    </div>
</div>