<div class="birthday-tariff-main">
    <div class="birthday-pic">
        <img src="https://picua.org/images/2019/11/17/ba11d2777a8a17e37a161fddba958d85.jpg" alt="">
    </div>

    <p id="birthday-1">Якщо Ви плануєте святкувати свій день народження в нашому готелі, скористуйтеся спеціальним пакетом «Іменинник»
    </p>
    <p id="birthday-1">В день Вашого народження:</p>
    <ul id="birthday-title">
        <li>Знижка 20% на проживання в номері будь-якої категорії</li>
        <li>Знижка 10% на все меню та послуги ресторану «Залибоба»</li>
        <li>Ранній заїзд та пізній виїзд до 15:00 – <span>безкоштовно
                <img src="https://picua.org/images/2019/11/18/7c678931e8e2bc2be81ee9ddeeac77f3.gif" alt="">
            </span></li>
    </ul>
    <p>*Ранній заїзд та пізній виїзд можливі тільки за умови наявності вільних номерів вибраної категорії <br>
        *Пропозиція дійсна лише за умови бронювання на рецепції або через відділ бронювання</p>
    <div class="birthday-tariff-backpage">
        <button (click)="goBack()">повернутися</button>
    </div>
</div>