<div class="spec-prop-main">
    <h1 class="spec-prop-hide">Спеціальні пропозиції</h1>
    <div class="spec-prop-wrap">
        <div class="spec-prop-title">
            <div class="spec-prop-pic">
                <img src="https://picua.org/images/2019/11/17/9ffac644390efd36f2651f97610bb0c7.jpg" alt="">
            </div>
            <div class="spec-prop-title-info">
                <h1>ТАРИФ ВИХІДНОГО ДНЯ</h1>
                <p>Проведіть казкові вихідні в Києві!!!</p>
                <div class="spec-prop-title-link">

                    <a routerLink="/weekendoff">детальніше</a>

                </div>
            </div>
        </div>
        <div class="spec-prop-title">
            <div class="spec-prop-pic">
                <img src="https://picua.org/images/2019/11/17/8728627dbd98058ccc9557ed61e4878a.jpg" alt="">
            </div>
            <div class="spec-prop-title-info">
                <h1>ТРИВАЛЕ ПРОЖИВАННЯ</h1>
                <p>Бронюйте номер на 7 ночей і більше та отримуйте 20% знижки!</p>
                <div class="spec-prop-title-link">

                    <a routerLink="/longstay">детальніше</a>

                </div>
            </div>
        </div>
        <div class="spec-prop-title">
            <div class="spec-prop-pic">
                <img src="https://picua.org/images/2019/11/17/506382b22a2edeeaf3637d7d37148572.png" alt="">
            </div>
            <div class="spec-prop-title-info">
                <h1>Погодинний тариф</h1>
                <p>Якщо Ви цінуєте свій час <br> скористайтесь нашим «Погодинним» тарифом!</p>
                <div class="spec-prop-title-link">

                    <a routerLink="/hourly">детальніше</a>

                </div>
            </div>
        </div>
        <div class="spec-prop-title">
            <div class="spec-prop-pic">
                <img src="https://picua.org/images/2019/11/17/156b9fd85b0d1e653242367e3dee2b15.jpg" alt="">
            </div>
            <div class="spec-prop-title-info">
                <h1>Денний тариф</h1>
                <p>Cкористуйтеся нашим денним тарифом!</p>
                <div class="spec-prop-title-link">

                    <a routerLink="/daily">детальніше</a>

                </div>
            </div>
        </div>
        <div class="spec-prop-title">
            <div class="spec-prop-pic">
                <img src="https://picua.org/images/2019/11/17/ba11d2777a8a17e37a161fddba958d85.jpg" alt="">
            </div>
            <div class="spec-prop-title-info">
                <h1>Знижки для іменинників в готелі «ЗАЛАССЯ»</h1>
                <p>Якщо Ви плануєте святкувати свій день народження в нашому готелі, скористуйтеся спеціальним пакетом
                    «Іменинник»</p>
                <div class="spec-prop-title-link">

                    <a routerLink="/birth">детальніше</a>

                </div>
            </div>
        </div>
    </div>
    <div class="spec-prop-gapline"></div>
</div>