<div class="spec-prop-main">
    <h1 class="spec-prop-hide">Спеціальні пропозиції</h1>
    <div class="spec-prop-wrap">
        <div class="spec-prop-title">
            <div class="spec-prop-pic">
                <img src="../../../assets/img/weekend_rate.jpg" alt="">
            </div>
            <div class="spec-prop-title-info">
                <h1>ТАРИФ ВИХІДНОГО ДНЯ</h1>
                <p>Проведіть казкові вихідні в Києві!!!</p>
                <div class="spec-prop-title-link">
                    <button>
                        <a routerLink="/weekendoff">детальніше</a>
                    </button>
                </div>
            </div>
        </div>
        <div class="spec-prop-title">
            <div class="spec-prop-pic">
                <img src="../../../assets/img/LONG STAY.jpg" alt="">
            </div>
            <div class="spec-prop-title-info">
                <h1>ТРИВАЛЕ ПРОЖИВАННЯ</h1>
                <p>Бронюйте номер на 7 ночей і більше та отримуйте 20% знижки!</p>
                <div class="spec-prop-title-link">
                    <button>
                        <a routerLink="/longstay">детальніше</a>
                    </button>
                </div>
            </div>
        </div>
        <div class="spec-prop-title">
            <div class="spec-prop-pic">
                <img src="../../../assets/img/Hourly tariff.png" alt="">
            </div>
            <div class="spec-prop-title-info">
                <h1>Погодинний тариф</h1>
                <p>Якщо Ви цінуєте свій час <br> скористайтесь нашим «Погодинним» тарифом!</p>
                <div class="spec-prop-title-link">
                    <button>
                        <a routerLink="/hourly">детальніше</a>
                    </button>
                </div>
            </div>
        </div>
        <div class="spec-prop-title">
            <div class="spec-prop-pic">
                <img src="../../../assets/img/day_tariff.jpg" alt="">
            </div>
            <div class="spec-prop-title-info">
                <h1>Денний тариф</h1>
                <p>Cкористуйтеся нашим денним тарифом!</p>
                <div class="spec-prop-title-link">
                    <button>
                        <a routerLink="/daily">детальніше</a>
                    </button>
                </div>
            </div>
        </div>
        <div class="spec-prop-title">
            <div class="spec-prop-pic">
                <img src="../../../assets/img/max-happy_b-day.jpg" alt="">
            </div>
            <div class="spec-prop-title-info">
                <h1>Знижки для іменинників в готелі «ЗАЛАССЯ»</h1>
                <p>Якщо Ви плануєте святкувати свій день народження в нашому готелі, скористуйтеся спеціальним пакетом
                    «Іменинник»</p>
                <div class="spec-prop-title-link">
                    <button>
                        <a routerLink="/birth">детальніше</a>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="spec-prop-gapline"></div>
</div>