@import '../../../styles.scss';
.spec-prop-main {
    @include main;
    padding-top: 1px;
    .spec-prop-hide {
        display: none;
    }
    .spec-prop-wrap {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
        grid-gap: 1vw;
        margin: 2.5%;
        .spec-prop-title {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 1vw;
            text-align: center;
            border-bottom: 3px solid ;
            border-image: linear-gradient(0.25turn, #fff, #D5D5D5, #fff) 1;
            .spec-prop-title-info {
                width: 100%;
                height: fit-content;
                align-self: center;
                h1 {
                    @include h1style;
                    text-transform: uppercase;
                }
                a {
                    @include blue-button-a;
                    margin: auto;
                }
            }
            .spec-prop-pic {
                width: 70%;
                margin: 2% 0 6% 0;
                img {
                    display:block;
                    max-width: 100%;
                    box-shadow: #777 2px 2px 5px;   
                }
            }
        }
    }
    .spec-prop-gapline {
        padding: 1px;
        margin-top: 50px;
    }        
}

@media (max-width: 960px) {
    .spec-prop-main {
        @include main960;
        .spec-prop-hide {
            @include hide;
        }
        .spec-prop-wrap {
            grid-template-columns: repeat(1, 1fr);            
            .spec-prop-title {
                grid-template-columns: repeat(1, 1fr); 
                .spec-prop-pic {
                    justify-self: center;
                    img {
                        display: block;
                        margin: auto;
                    }                    
                }
                .spec-prop-title-info {
                    p {
                        font-size: $fontSize;
                    }
                    h1 {
                        font-size: 26px;
                    }
                    a {
                        width: 50%;
                        height: 50px;
                        margin: 0 auto 40px auto;
                        font-size: $fontSize; 
                        padding-top: 10px;                                      
                    }
                }              
            }
        }  
    }
}