<div class="lux-main">
    <div class="lux-title">
        <div class="lux-pic">
            <img src="../../../../../assets/img/Suit_Hal_2.jpg" alt="">
        </div>

        <h5>Люкс</h5>
        <p>Комфортний двохкімнатний номер площею 41 м<sup>2</sup>, ванна кімната - 5,7 м<sup>2</sup>.<br>
            Дизайн номеру виповнений у теплих пісочно-бежевих відтінках.<br>
            Ширина ліжка складає 160 см.<br>
            В номері може бути розміщено від одного до трьох осіб.</p>
    </div>
    <div class="lux-tariffe">
        <div class="lux-tariffe-bloc">
            <div class="lux-tariffe-bloc-title">Проживання</div>
            <div>1 людина <span>3100</span> грн.</div>
            <div>2 людина <span>3100</span> грн.</div>
            <div>3 людина <span>3100</span> грн.</div>
        </div>
        <div class="lux-tariffe-bloc">
            <div class="lux-tariffe-bloc-title">Проживання + сніданок</div>
            <div><span>3340 </span> грн.</div>
            <div><span>3580</span> грн.</div>
            <div><span>3820 </span> грн.</div>
        </div>
        <p>Ціна вказана за номер на добу.</p>
    </div>
    <div class="lux-inclusive">
        <p>Інтер’єр номерів може бути різним<br>Кількість номерів - 10</p>
        <h5>В номері:</h5>
        <ul>
            <li>Набір меблів</li>
            <li>Кондиціонер</li>
            <li>ТВ (кабельне)</li>
            <li>Безкоштовний WI-FI</li>
            <li>Телефон (прямий міжнародний доступ)</li>
            <li>Міні-бар</li>
            <li>Міні-сейф</li>
            <li>Фен</li>
            <li>Набір міні-парфумерії у ванній кімнаті</li>
            <li>Набір рушників, халат, капці</li>
            <li>Палити в номерах <span>заборонено!</span> </li>
        </ul>
    </div>
    <div class="lux-galery">
        <h5>Фотогалерея:</h5>
        <img src="../../../../../assets/img/ban_main_2.jpg" alt="">
    </div>
    <div class="lux-backpage">
        <button (click)="goBack()">повернутися</button>
    </div>
</div>