<div class="long-stay-main">
    <div class="long-stay-pic">
        <img src="../../../assets/img/LONG STAY.jpg" alt="">
    </div>

    <h5>Тривале проживання</h5>
    <p>При бронюванні номера в готелі на 7 ночей і більше, ви отримуєте
        20% знижки на весь період проживання!
    </p>
    <p>Акція поширюється тільки на номери категорії «Стандарт Покращений» та «Стандарт» з 2-ма ліжками.
    </p>
    <p>* 100% передоплата при розміщенні на весь період проживання.<br>
        *У разі скорочення періоду проживання на строк менше 7 ночей, акція анулюється і проводиться перерахунок
        вартості проживання відповідно до діючих тарифів.<br>
        * Знижка не підсумовується з іншими акціями та пропозиціями. <br>
        * Тариф доступний лише за умови бронювання на рецепції або через відділ бронювання.
    </p>
    <div class="long-stay-backpage">
        <button (click)="goBack()">повернутися</button>
    </div>
</div>