<div class="hourly-tariff-main">
    <div class="hourly-pic">
        <img src="https://picua.org/images/2019/11/17/506382b22a2edeeaf3637d7d37148572.png" alt="">
    </div>

    <h5>Погодинний тариф</h5>
    <p id="hourly-mobile">Якщо Ви цінуєте свій час - скористайтесь нашим «Погодинним» тарифом! <br>
        Тепер у Вас є можливість підготуватися до ділової зустрічі не сплачуючи зайвого!
    </p>
    <p id="hourly-mobile">Час дії тарифу: з 7:00 до 21:00 (не більше шести годин в цьому часовому діапазоні)
        Вартість погодинного тарифу: 1000 грн. ("Стандарт покращений"), 1450 грн. ("Люкс") – за номер
    </p>
    <p>
        У Вас є можливість відпочити в номері, скуштувати дивовижно смачну домашню випічку в «Кафе-кондитерській» чи
        спробувати та віддати належне блюдам шеф-кухаря ресторану «Залибоба».
        А при необхідності, не виходячи з готелю, Ви можете провести ділову зустріч в нашій кімнаті для переговорів.
    </p>
    <p>* Тариф дійсний з 07:00 до 21:00<br>
        * Фіксована оплата за період (6 годин) не залежить від меншої ніж шість годин, кількості годин перебування
        <br>
        * Сніданок (шведський-стіл) оплачується додатково – 240 грн. (бронюйте на рецепції в момент заселення) <br>
        * Погодинний тариф діє лише за умови поселення в номерах категорії «Стандарт покращений», «Люкс» (1 чи 2-х місне
        розміщення)
    </p>
    <p>
        За бажанням гостя продовжити своє перебування в нашому готелі, <span>діють стандартні тарифи</span> з
        врахуванням гнучких
        знижок для постійних клієнтів.
    </p>
    <div class="hourly-tariff-backpage">
        <button (click)="goBack()">повернутися</button>
    </div>
</div>