<div class="add-main">

    <div class="add-about">

        <img src="../../../../../assets/img/about_salute.gif" alt="">
        <h5 class="add-about-for" id="about-for">Про готель</h5>
        <p>
            Готель «Заласся» знаходиться на високому, вкритому зеленню вікових дерев, пагорбі правобережжя річки Дніпро, в
            найпрестижнішому районі міста - Печерську, на площі Слави поряд з мальовничим парком і недалеко від
            знаменитої Києво-Печерської Лаври - унікального історико-архітектурного комплексу часів Київської Русі, який
            охороняється <span>юнеско</span> .
        </p>
        <p>
            Готель «Заласся» пропонує своїм гостям 89 комфортабельних номерів різних категорій з неповторними панорамними
            видами.
        </p>
        <h5 class="add-about-history">Трохи історії</h5>
        <p>
            Будівля готелю була побудована відомим архітектором Авраамом Мілецьким у 1984р. на замовлення Держплану
            України. Цікаво, що в початковому варіанті, готель «Заласся» мав би бути на 5 поверхів вище, але партійне
            керівництво України не затвердило цей проект. Проте, "урізана" будівля зберегла дух радянського футуризму,
            конструктивізму і польоту технічної думки того часу. Завдяки незвичайному архітектурному рішенню і вдалому
            розташуванню, готель «Заласся» став одним із символів міста Києва.
        </p>
        <p>
            Місце, де знаходиться готель, вважається екологічно чистим, завдяки висоті розташування та близькості двох
            парків.
        </p>
        <p>
            Сьогодні готель «Заласся» популярний серед гостей нашого міста.
        </p>
        <p>
            Величний Дніпро і зелень Печерських схилів, безцінні пам'ятники старовини та комфортне розташування готелю
            приваблює сюди туристів та ділових людей з усього світу.
        </p>
        <p>
            Архітектура будівлі самого готелю, внутрішній його інтер'єр, обрамлений зеленню ресторан, з відокремленими
            столиками та багато іншого налаштовують на проведення переговорів та зустрічей, створюють домашню атмосферу
            спокою і комфорту.
        </p>
    </div>

    <div class="add-backpage">
        <button (click)="goBack()">повернутися</button>
    </div>

</div>