@import '../../../../../styles.scss';
.add-main {
    @include main;
    .add-about { 
        margin: 0 20px 0 20px;
        h5 {
            color: #003b6e;
            font-weight: bold;
            text-align: center;
    
        }
        #about-for {
            padding-top: 20px;
            margin-top: 0;
        }
        img {
            float: left;
            box-shadow: #777 2px 2px 13px;
            margin: 50px;
        }
        span {
            text-transform: uppercase;
        }
    }
    .add-backpage button {
        width: 150px;
        height: 30px;
        color: azure;
        font-size: 18px;
        background: linear-gradient(0deg, #888888, #F7F7F7);
        margin: 50px 50px 50px 20px;
    }
}

