<div class="meeting-room-main">
    <div class="meeting-room-ban">
        <img src="https://picua.org/images/2019/11/16/3393a388239a4899e68c96869dd7fc48.jpg" alt="">
    </div>

    <div class="meeting-room-title">
        <h5>Переговорна кімната</h5>
        <p>Кімната для переговорів розрахована на 14 місць <br>(загальна площа 34 кв.м)</p>
        <p>У Вас є унікальна можливість поспілкуватися з Вашими колегами і діловими партнерами в камерній обстановці.
            Зручне розташування меблів за типом "круглий стіл", пастельні тони інтер'єру неодмінно налаштують на
            досягнення позитивного результату спілкування.</p>
        <p>Кімната для переговорів обладнана кондиціонером, мультимедійним проектором, фліпчартом.</p>
    </div>
    <div class="meeting-room-contacts">
        <h5>Наші контакти:</h5>
        <ul>
            <li>Teл: +38 444 644 85 54</li>
            <li>вул. Івана Сірко, 11-Б, Київ, 00001, Україна</li>
            <li><a href="mailto:hotel@zalassya.kiev.ua" class="footer-write-mail" target="blank">
                    hotel@zalassya.kiev.ua
                </a>
            </li>
        </ul>
    </div>
    <div class="meeting-room-fotogelery">
        <h5>Фотогалерея:</h5>
        <a href="#"><img src="https://picua.org/images/2019/11/18/5484afc18e40a125bc6982b22f9124c2.jpg" alt=""></a>
    </div>
    <div class="meeting-room-backpage">
        <button (click)="goBack()">повернутися</button>
    </div>
</div>