<div class="weekend-offer-main">
    <div class="weekend-pic">
        <img src="../../../assets/img/weekend_rate.jpg" alt="">
    </div>

    <h5>ТАРИФ ВИХІДНОГО ДНЯ</h5>
    <p>Проведіть казкові вихідні в Києві та витрачайте менше на проживання!
    </p>
    <p>Для вас діє знижка 20% на номери будь-якої категорії, за умови бронювання номера с п’ятниці по неділю включно.
    </p>
    <p>*Тариф дійсний лише за умови бронювання номеру на рецепції або через відділ бронювання<br>
        *Знижка не підсумовується з іншими акціями та пропозиціями</p>
    <div class="weekend-offer-backpage">
        <button (click)="goBack()">повернутися</button>
    </div>
</div>