<div class="bar-main">
    <div class="bar-title">
        <div class="bar-pic">
            <img src="https://picua.org/images/2019/11/16/c3c55c955edbcf0113599fb7156d096f.jpg" alt="">
        </div>

        <h5>Бар-Більярд</h5>
        <p>Вишуканість стилю і затишна атмосфера дозволить Вам приємно провести час, поспілкуватися з друзями або
            відзначити святкову подію.</p>
        <p>До ваших послуг: 7 столів російського більярда і 2 – американки.</p>
        <p>Щоп'ятниці для Вас звучить «джаз» і англійський «поп».</p>
        <p>Ми працюємо з 12:00 дня до 02:00 ночі.</p>
    </div>
    <div class="bar-chance">
        <h5>Мета нашого Клубу – максимальний комфорт його відвідувачів</h5><br>
        <h5>Наші можливості:</h5>
        <ul>
            <li>турнір вихідного дня для Вашої компанії</li>
            <li>проведення великого турніру для 16 – 30 чоловік</li>
            <li>організація корпоративів та інших торжеств</li>
            <li>трансляція матчів</li>
            <li>виступ майстрів більярдної гри</li>
            <li>відмінна кухня та багато іншого</li>
        </ul>

    </div>
    <div class="bar-contacts">
        <h5>Наші контакти:</h5>
        <ul>
            <li>Teл: +38 444 494 14 08</li>
            <li>вул. Івана Сірко, 11-Б, Київ, 00001, Україна</li>
            <li><a href="mailto:hotel@zalassya.kiev.ua" target="blank">
                    hotel@zalassya.kiev.ua
                </a>
            </li>
        </ul>
    </div>
    <div class="bar-fotogelery">
        <h5>Фотогалерея:</h5>
        <a href="#"><img src="https://picua.org/images/2019/11/18/17b0318d9094d336e0e058bdf294383f.jpg" alt=""></a>
    </div>
    <div class="bar-backpage">
        <button (click)="goBack()">повернутися</button>
    </div>
</div>