<div class="attendance-main">
    <div>
        <h1 class="attendance-hide">Послуги</h1>
    </div>
    <div class="attendance-img">
        <img src="../../../assets/img/atend3.jpg" alt="image-photo">
    </div>
    <div class="attendance-content">
        <p>Ми завжди прагнемо до того, щоб в стінах нашого
            готелю Ви відчували себе максимально комфортно і затишно.
        </p>
        <h2>До Ваших послуг:</h2>
        <ul>
            <li> <a routerLink="/salut">Ресторан «Залибоба» </a> (Часи роботи: цілодобово)</li>
            <li> <a routerLink="/aple">Кафе "Яблуко" </a> (Часи роботи: 8:00 – 23:00)</li>
            <li> <a routerLink="/confectionery">Кафе-кондитерська </a> (Часи роботи: 8:00 – 21:00 )</li>
            <li>Оренда конференц-залів та переговорної кімнати</li>
            <li>Трансфер до аєропортів Бориспіль та Жуляни</li>
            <li>Бездротовий доступ до Інтернету (безкоштовно)</li>
            <li>Персональний міні-сейф</li>
            <li>Депозитний сейф</li>
            <li>Камера зберігання</li>
            <li>Пральня та хімчистка</li>
            <li>Послуги по прасуванню одягу</li>
            <li>Автостоянка що охороняється (платна)</li>
            <li> <a routerLink="/bar">Більярд – клуб </a> (Часи роботи: с 12:00 до 02:00)</li>
            <li>Нічний клуб</li>
            <li>Стоматологічний кабінет</li>
            <li>Перукарня</li>
            <li>Експрес пошта DHL</li>
            <li>Магазин сувенірної продукції</li>
            <li>Ресторанне обслуговування в номерах (цілодобово)</li>
            <li>Заказ таксі</li>
            <li>Банкомат</li>
            <li>Цілодобовий обмін валют</li>
            <li>Машина для чищення взуття</li>
            <li>Кімната для паління</li>
        </ul>
        <p class="attendance-bttitle"> <span>Більш детальнішу інформацію Ви можете отримати за тел.: +38 044 4941420</span> </p>
    </div>
    
</div>