@import '../../../../../styles.scss';
.halflux-main {
    @include main;
    .halflux-pic {
        width: 40%;
        img {
        float: left;
        @include img-interior;            
        }
    }
    h5 {
        color: #00407A;
        margin-left: 20px;
        font-weight: 700;
    }
    .halflux-title h5 {
        padding-top: 20px;
        margin-bottom: 60px;
    }
    p {
        margin: 20px;
    }
    .halflux-tariffe {
        font: 600 15px OpenSans;
        @include grid-interior;
        margin-top: 90px;
        span{
            font-size: 20px;
            color: #3075b3;
            margin-left: 18px;
        }
        .halflux-tariffe-bloc-title {
            color: #003b6e;           
            margin-bottom: 20px; 
        }
        p {
            font-size: 12px;
            text-align: left;
        }
    }
    .halflux-inclusive span {
        text-transform: uppercase;
    }
    .halflux-galery {
        width: 40%;
        img {
            @include img-interior; 
            cursor: pointer;         
        }
        .black-window {
            width: 100%;
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: rgba(0,0,0,0.7);
            z-index: 2;
        }
        .modal-close {
            margin: 0;
            border: none;
            box-shadow: none;
            position: fixed;
            right: 0;
            z-index: 3;
            cursor: pointer;
        }
      .slider {
          width: 100%;
          position: relative;
          padding-top: 40%;
          margin: 0 auto;
          img {
            margin: 0;
            border: none;
            box-shadow: none;
          }
      }
      .slider>img{        
          position: absolute;
          left: 50%; 
          margin-left: -30%;
          top: 0;
          transition: all 0.5s;
          width: 60%;
      }
      .slider input[name='slide_switch'] {
          display: none;
      }
      .slider label {
          margin-top: 15px;
          margin-right: 4.4%;
          border: 3px solid #999;
          float: left;
          cursor: pointer;
          transition: all 0.5s;
          opacity: 0.6;
      }
      label#first-pic {
          margin-left: 20%;
      }
      .slider label img{
          display: block;
          width: 8vw;
      }
      .slider input[name='slide_switch']:checked+label {
          border-color: #666;
          opacity: 1;
      }
      .slider input[name='slide_switch'] ~ img {
          opacity: 0;
          transform: scale(1.1);
      }
      .slider input[name='slide_switch']:checked+label+img {
          opacity: 1;
          transform: scale(1);
      }
    }
    .halflux-backpage button {
        @include backpage;
    }
    .halflux-gapline {
        padding: 1px;
    }
}

@media (max-width: 960px) {
    .halflux-main {
        @include main960;
        .halflux-pic {
            width: 80%;
            margin: auto; 
            img {
                float: none;
                display: block;
                margin: 40px auto 0;    
            }
        }
        .halflux-title {
            h5, p {
                font-size: $fontSize;
                text-align: center;
            }
        }        
        .halflux-inclusive,
        .halflux-galery {            
            h5, p, li, span {
                font-size: $fontSize;
            }
        }
        .halflux-tariffe > .halflux-tariffe-bloc {
            div {
                font-size: $fontSize;
            }            
        }
        .halflux-mobile {
            font-size: $fontSize;
        }
        .halflux-backpage button {
            @include backpage_960;                            
        }
    }
}