.agreement-main {
    width: 57%;
    height: 100%;
    margin-left: 420px;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: #777 2px 2px 13px;
    background: #fff;
    h5 {
        text-align: center;
        color: #003B6E;
    }
}