<div class="agreement-main">
    <p>Готель «Заласся», іменований надалі «Компанія», пропонує Вам, на вказаних нижче умовах, укласти дану
        Користувальницьку угоду, надалі «Угода», з фізичною особою, іменованою надалі «Користувач». Згода Користувача з
        положеннями даної Угоди є обов'язковою умовою для відправлення листів адміністраторові користувача на Сайті.</p>
    <p>Приймаючи умови даної Угоди, Користувач підтверджує, що він ознайомлений з нижчевикладеною Користувальницькою
        угодою і дає свій дозвіл «Компанії» збирати, зберігати й обробляти всі передані ним на адресу «Компанії» його
        персональні дані (у тому числі прізвище, ім'я, по батькові й адресу електронної пошти) з метою інформування про
        новини та інші події в ПрАТ «Готель «Заласся». З правами, що виникають у зв'язку з обробкою персональних даних,
        і
        цілями обробки та використання персональних даних «Користувач» ознайомлений.</p>
    <h5>Користувальницька угода</h5>
    <ol>
        <li>Сторони даної угоди погоджуються з тим, що безпека і захист даних користувачів є одним з найважливіших
            завдань Компанії. У зв’язку з чим Компанія зобов'язується дотримуватись приписань закону щодо захисту даних,
            які не підлягають розголошенню.</li>
        <li>Користувач поінформований і згодний з тим, що в рамках надання послуг відповідно до даної Угоди Компанія
            може отримувати персональні дані - прізвище, ім'я, стать, поштова скринька, номер телефону - які потім
            зберігаються, обробляються і використовуються Компанією. Персональними даними є такі дані, які містять
            відомості про особисті і ділові відносини певного або визначуваного користувача.</li>
        <li>Користувач дозволяє використання Компанією його персональних даних з метою консультування, реклами, вивчення
            ринку, досліджень і аналізу з метою поліпшення Компанією і перетворення спектра послуг‚ згідно з певними
            потребами.</li>
        <li>Користувач дає дозвіл на прийом електронних листів з новинами від Компанії.</li>
        <li>Крім того, користувач дає дозвіл на те, що персональні дані його профайлу, анкети, блогу можуть передаватися
            позаштатним представникам послуг Компанії для наступних цілей: а) пересилати від імені і за дорученням
            Компанії електронні повідомлення і новини; б) передавати елементи даних Сайту і профайли користувачів в інші
            ЗМІ; в) телефонний контакт з метою консультації і здобуття сервісу Сайту.</li>
        <li>Кожний користувач може виразити свою незгоду щодо передачі анонімних даних з метою консультації, реклами і
            вивчення ринку третім особам, а також щодо складання анонімного профайлу Користувача. Для цього достатньо
            надіслати електронний лист на <a href="support@salute.kiev.ua" target="_blank">support@salute.kiev.ua</a>  із зазначенням імені користувача і повного імені
            Користувача.</li>
        <li>Компанія звертає увагу користувачів на те, що сьогоднішній стан техніки не дозволяє забезпечити при передачі
            даних у відкритих мережах, таких як Інтернет, повноцінний захист даних, що не підлягають розголошенню. Тому
            користувач сам відповідає за безпеку переданих ним в Інтернеті даних.</li>
    </ol>
</div>