.scrolltop {
    position: fixed;
    right: 10px;
    bottom: 210px;
    cursor: pointer;    
    &:hover {
        opacity: 0.8;
    }
  }

@media (max-width: 960px) {
    .scrolltop {
        display: none;
    }
}



