<div class="salut-main">

    <div class="salut-ban">
        <img src="https://picua.org/images/2019/08/03/0bd9c1e4c498890835a7458cd970caa0.jpg" alt="">
    </div>
    <div class="salut-title">
        <h1>Pесторан "Залибоба"</h1>
        <p>Ресторан готелю «Залибоба» давно знайомий гостям столиці України. Ще 30 років тому під час його відкриття тут
            встановили високі вимоги до якості їжі, роботи персоналу та обслуговування гостей. З тих часів ресторан
            подарував чимало приємних емоцій його відвідувачам.</p>
        <p>Сьогодні у ресторані «Залибоба» нове покоління працівників намагається зберегти сформовані вишукані традиції
            та
            доповнити їх сучасними тенденціями ресторанної справи.</p>
        <p>Поряд з посмішкою персоналу та затишком вечірньої площі слави у нас завжди хороший настрій, душевна, дещо
            ностальгічна атмосфера вже такого далекого та пам’ятного для багатьох радянського часу.</p>
        <p>З гостями готелю «Заласся» колектив ресторану знайомиться під час сніданків. Уже з 7мої ранку ми запрошуємо
            скуштувати різноманіття страв шведської лінії. Продовжити перебування у готелі і не залишитись голодним
            допоможе бізнес-ланч який проходить щодня з 12 до 15. У вечірній час запрошуємо всіх на вечерею в компанії
            притемненого світла, цікавих блюд та бокала червоного чи білого вина.</p>
        <p>Досвід та увага до деталей дозволяють нам успішно проводити банкети до 130 чоловік, фуршети, кава-брейки,
            закриті події у затишному Віп-залі до 25 чоловік, супроводжувати конференції, виставки, влаштовувати
            весілля…</p>
    </div>
    <div class="salut-contact">
        <h1>Наші контакти:</h1>
        <ul>
            <li>Тел. +38 444 494 14 24</li>
            <li>Факс. +38 444 280 26 04</li>
            <li><a href="mailto:hotel@zalassya.kiev.ua" target="blank">
                    hotel@zalassya.kiev.ua
                </a></li>
            <li>вул. Івана Сірко, 11-Б, Київ, 00001, м. Київ</li>
        </ul>
    </div>
    <div class="salut-fotogelery">
        <h1>Фотогалерея:</h1>
        <a href="#"><img src="../../../../../assets/img/1383929901rest1.jpg" alt=""> </a>
    </div>
    <div class="salut-backpage">
        <button (click)="goBack()">повернутися</button>
    </div>
</div>