<div class="discount-main">
    <div class="discount-title">
        <img src="https://picua.org/images/2019/11/16/f4a73d5335eae6b07d32e220351e6439.jpg" alt="">
        <p>Бронюйте номер через сайт готелю та отримайте 10% знижки!</p>
        <p>Шановний гість!<br>
                У Вас є чудова можливість забронювати номер будь-якої категорії зі знижкою 10%.
                Для цього Вам необхідно забронювати номер через сайт нашого готелю.</p>
        <p>*Дана спеціальна пропозиція дійсна тільки за умови бронювання з сайту готеля «Заласся».</p>
        <p>*Дана спеціальна пропозиція не підсумовується з іншими акціями та пропозиціями.</p>
    </div>
    <div class="discount-backpage">
        <button (click)="goBack()">повернутися</button>
    </div>
</div>
