@import '../../../../../styles.scss';
.discount-main {
    width: 57%;
    height: 710px;
    margin-left: 420px;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: #777 2px 2px 13px;
    background: #fff;
    .discount-ban {
        width: 40%;
        img {
            box-shadow: #777 2px 2px 13px;
            max-width: 100%;
            float: left;
            margin: 50px;
        }
    }
    .discount-title {                
        p:nth-of-type(1) {
            color: #00407A;
            font-size: 18px;
            font-weight: 700;
            padding-top: 50px;
            text-align: center;
            margin-right: 50px;
        }
        p:nth-of-type(2) {
            font-size: 15px;
            text-align: center;
            color: #126C00;
            font-weight: 600;
            margin: 50px;
            padding-bottom: 20px;
        }
        p:nth-of-type(n+3) {
            margin-left: 50px;
        }
    }
    .discount-backpage button {
        @include backpage;
        margin: 0 50px 50px 50px;
    }
    .discount-gapline {
        padding: 1px;
    }
}

@media (max-width: 960px) {
    .discount-main {
        @include main960;
        height: 100%;
        .discount-ban {
            width: 80%;
            margin: auto; 
            img {
                float: none;
                margin: 40px 0 0 0;                
            }
        }
        .discount-title > #discount-title-mobile, p {
            font-size: $fontSize;
                margin: 0;
        }
        .discount-backpage button {
            @include backpage_960;                             
        }
    }
}