@import '../../../../../styles.scss';
.aple-main {
    @include main;
    .aple-pic {
        width: 50%;
        img {
            float: left;
            @include img-interior;            
        }
    }
    h5 {
        color: #00407A;
        margin-left: 20px;
        font-weight: 700;
    }
    p {
        margin: 20px;
    }
    ul li {
        list-style-image: $mark-book;
        a {
            color: inherit;
        }
    }
    .aple-title h5:nth-of-type(1) {
        padding-top: 20px;
        text-align: center;
    }
    .aple-fotogelery {
        width: 50%;
        img {
            @include img-interior;   
            cursor: pointer;         
        }
        .black-window {
            width: 100%;
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: rgba(0,0,0,0.7);
            z-index: 2;
        }
        .modal-close {
            margin: 0;
            border: none;
            box-shadow: none;
            position: fixed;
            right: 0;
            z-index: 3;
            cursor: pointer;
        }
      .slider {
          width: 100%;
          position: relative;
          padding-top: 40%;
          margin: 0 auto;
          img {
            margin: 0;
            border: none;
            box-shadow: none;
          }
      }
      .slider>img{        
          position: absolute;
          left: 50%; 
          margin-left: -30%;
          top: 0;
          transition: all 0.5s;
          width: 60%;
      }
      .slider input[name='slide_switch'] {
          display: none;
      }
      .slider label {
          margin-top: 15px;
          margin-right: 4.4%;
          border: 3px solid #999;
          float: left;
          cursor: pointer;
          transition: all 0.5s;
          opacity: 0.6;
      }
      label#first-pic {
          margin-left: 20%;
      }
      .slider label img{
          display: block;
          width: 8vw;
      }
      .slider input[name='slide_switch']:checked+label {
          border-color: #666;
          opacity: 1;
      }
      .slider input[name='slide_switch'] ~ img {
          opacity: 0;
          transform: scale(1.1);
      }
      .slider input[name='slide_switch']:checked+label+img {
          opacity: 1;
          transform: scale(1);
      }
    }
    .aple-backpage button {
        @include backpage;
    }
    .aple-gapline {
        padding: 1px;
    }
}

@media (max-width: 960px) {
    .aple-main {
        @include main960;
        .aple-pic {
            width: 80%;
            margin: auto; 
            img {
                float: none;
                margin: 40px 0 0 0;                
            }
        }
        .aple-title,
        .aple-contacts,
        .aple-fotogelery {            
            h5, p, li, a {
                font-size: $fontSize;
            }
        }
        .aple-backpage button {
            @include backpage_960;                           
        }
    }
}
