<div class="aple-main">
    <div class="aple-title">
        <div class="aple-pic">
            <img src="https://picua.org/images/2019/11/18/9bc98e6ac829e06dfc140fabf4f75f5c.jpg" alt="">
        </div>

        <h5>Кафе "Яблоко"</h5>
        <p>Ідеальне місце для проведення ділових ланчів в центрі міста з чудовим видом на парк та смачною кавою Julius
            Mainl. Заклад працює у форматі «міське кафе» з пріоритетом європейської кухні. У ланч-меню кафе "Яблоко"
            свіжі салати і легкі закуски, пироги і без дріжджовий хліб власної випічки, сет італійських сирів і м'ясних
            делікатесів. </p>
        <p>Для обідів і вечірніх зустрічей підійде запечена на BBQ риба дорада і курчата тапака на гарячій пательні.
            Любителів вегетаріанської кухні особливо порадують крем-суп із зеленого горошку, окрошка, пиріг з пореєм і
            свіжі сезонні салати. У барном меню чудовий вибір власних наливок та коктейлів, імуномоделюючі чаї і
            лимонад, переконлива карта вин з усього світу.</p>
        <p>Інтер'єр, з великою кількістю зелені, і приємний музичний фон підійдуть як для ділового ланчу, так і для
            романтичної вечері, або дружнього pre-party. У кафе часто відзначають дні народження з невеликим фуршетом до
            50 осіб.</p>
        <p>Тут є можливість просто відпочити за чашкою відмінної кави з улюбленим планшетом або ноутбуком - в кафе
            працює безкоштовний швидкісний Wi-Fi. Яскрава, в кольорах, тераса запрошує заглянути і освіжитися домашнім
            лимонадом або келихом холодного італійського вина. Наш персонал з максимальною турботою обслужить кожного
            гостя.</p>
    </div>
    <div class="aple-contacts">
        <h5>Наші контакти:</h5>
        <ul>
            <li>Teл: +38 444 644 85 54</li>
            <li>вул. Івана Сірко, 11-Б, Київ, 00001, Україна</li>
            <li><a href="mailto:hotel@zalassya.kiev.ua" target="blank">
                    hotel@zalassya.kiev.ua
                </a>
            </li>
        </ul>
    </div>
    <div class="aple-fotogelery">
        <h5>Фотогалерея:</h5>
        <img (click)=toggleDisplay() src="https://picua.org/images/2019/11/16/442477e3b38fefc12bfe53ec51b90a01.jpg"
            alt="">

        <div [hidden]="isShow" class="black-window">
            <img class="modal-close" (click)=toggleDisplay()
                src="https://picua.org/images/2019/12/08/93abd84ecdd3cf125f4703643f6eab46.png" alt="">

            <div class="slider">

                <input type="radio" name="slide_switch" id="id1" checked="checked" />
                <label id="first-pic" for="id1">
                    <img src="https://picua.org/images/2019/11/18/9bc98e6ac829e06dfc140fabf4f75f5c.jpg" alt="">
                </label>
                <img src="https://picua.org/images/2019/11/18/9bc98e6ac829e06dfc140fabf4f75f5c.jpg" alt="">

                <input type="radio" name="slide_switch" id="id2" />
                <label for="id2">
                    <img src="https://picua.org/images/2019/12/08/75eb0cd248dd1ba047ca0bbaaaba5680.jpg" alt="">
                </label>
                <img src="https://picua.org/images/2019/12/08/75eb0cd248dd1ba047ca0bbaaaba5680.jpg" alt="">

                <input type="radio" name="slide_switch" id="id3" />
                <label for="id3">
                    <img src="https://picua.org/images/2019/11/18/346709710009b840a575d65bb822b890.jpg" alt="">
                </label>
                <img src="https://picua.org/images/2019/11/18/346709710009b840a575d65bb822b890.jpg" alt="">

                <input type="radio" name="slide_switch" id="id4" />
                <label for="id4">
                    <img src="https://picua.org/images/2019/11/18/143b94c676e8e53a10fea71169afe43f.jpg" alt="">
                </label>
                <img src="https://picua.org/images/2019/11/18/143b94c676e8e53a10fea71169afe43f.jpg" alt="">

                <input type="radio" name="slide_switch" id="id5" />
                <label class="last-pic" for="id5">
                    <img src="https://picua.org/images/2019/11/18/cc16d0c3c078f7048f9843dda8614742.jpg" alt="">
                </label>
                <img src="https://picua.org/images/2019/11/18/cc16d0c3c078f7048f9843dda8614742.jpg" alt="">
            </div>
        </div>

    </div>
    <div class="aple-backpage">
        <button (click)="goBack()">повернутися</button>
    </div>
    <div class="aple-gapline"></div>
</div>