<div class="rest-main">
    <h1 class="rest-hide">Ресторани та бари</h1>
    <div class="rest-ban">
        <img src="https://picua.org/images/2019/08/03/347b0e0808232a9873fd62368575dd49.jpg" alt="">
    </div>

    <div class="rest-title">
        <h1>До послуг наших гостей:</h1>
    </div>

    <div class="rest-list-wrap">

        <div class="rest-list">
            <div class="rest-pic">
                <img src="https://picua.org/images/2019/08/03/0bd9c1e4c498890835a7458cd970caa0.jpg" alt="">
            </div>
            <div class="rest-list-title">
                <div>
                    <h2>Pесторан "Залибоба"</h2>
                    <p>Розклад роботи: <br> цілодобово</p>
                </div>
                <div>
                    <button>
                        <a routerLink="/salut">детальніше</a>
                    </button>
                </div>
            </div>
        </div>

        <div class="rest-list">
            <div class="rest-pic">
                <img src="https://picua.org/images/2019/11/16/5516391d7ed0058f52b2d6453c07677a.jpg" alt="">
            </div>
            <div class="rest-list-title">
                <div>
                    <h2>Кафе-кондитерська</h2>
                    <p>Розклад роботи: <br> 8:00 - 21:00</p>
                </div>
                <div>
                    <button>
                        <a routerLink="/confectionery">детальніше</a>
                    </button>
                </div>
            </div>
        </div>

        <div class="rest-list">
            <div class="rest-pic">
                <img src="https://picua.org/images/2019/11/16/442477e3b38fefc12bfe53ec51b90a01.jpg" alt="">
            </div>
            <div class="rest-list-title">
                <div>
                    <h2>Кафе "Яблоко"</h2>
                    <p>Розклад роботи: <br>цілодобово</p>
                </div>
                <div>
                    <button>
                        <a routerLink="/aple">детальніше</a>
                    </button>
                </div>
            </div>
        </div>

        <div class="rest-list">
            <div class="rest-pic">
                <img src="https://picua.org/images/2019/11/16/c3c55c955edbcf0113599fb7156d096f.jpg" alt="">
            </div>
            <div class="rest-list-title">
                <div>
                    <h2>Бар-Більярд</h2>
                    <p>Розклад роботи: <br>з 12:00 до 02:00</p>
                </div>
                <div>
                    <button>
                        <a routerLink="/bar">детальніше</a>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="rest-gapline"></div>
</div>