@import '../../../styles.scss';
.rest-main {
    @include main; 
    .rest-ban {
        width: 91%;
        img {
            @include img-style;
            margin: 5%;
        }
    }
    .rest-hide {
        display: none;
    }
    .rest-title h1 {
        @include h1style; 
        text-align: center;
    }
    .rest-list-wrap {
        @include grid-wrap;
        .rest-list {
            @include grid-interior;
        }
        h2 {
            @include h2style;
        }
        button {
            @include blue-button;
            a {
                @include blue-button-a;
            }
        }
        .rest-pic {
            width: 100%;           
            img {
                @include img-style;
            }
        }
    }
    .rest-gapline {
        padding: 1px;
    }    
}

@media (max-width: 960px) {
    .rest-main {
        @include main960;
        .rest-ban {
            width: 100%;
            img {
                display: block;
                margin: auto;                
            }            
        }
        .rest-hide {
            @include hide;
        }
        .rest-title h1 {
            font-size: 28px;
            text-align: center;
        }
        .rest-list-wrap {
            grid-template-columns: repeat(1, 1fr);            
            .rest-list {
                grid-template-columns: repeat(1, 1fr);                
            }
            .rest-list-title {
                h2, p {
                    font-size: $fontSize;
                    text-align: center;
                }
            }
            button {
                width: 100%;
                height: 50px;
                margin: 0 auto 40px auto;
                a {
                    font-size: $fontSize;
                }                
            }
        }
    }
}