<div class="map-main">
    <h1>Готель "Заласся" - мапа сайту</h1>
    <ul class="map-line">
        <li>
            <a routerLink="/hotel">Готель</a>
            <ul>
                <li><a routerLink="/add">Про готель</a></li>
                <li><a routerLink="/add">Місцерозташування</a></li>
                <li><a routerLink="/tariffs">Перелік тарифів та правила проживання</a></li>
                <li><a routerLink="/add">Програма лояльності <span>«постійний гість»</span></a> </li>
            </ul>
        </li>
        <li><a routerLink="/rooms">Номери</a>
            <ul>
                <li><a routerLink="/lux">Люкс</a> </li>
                <li><a routerLink="/halflux">Напівлюкс</a> </li>
                <li><a routerLink="/superior">Стандарт покращений</a> </li>
                <li><a routerLink="/standartTwin">Стандарт з 2-ма ліжками</a> </li>
                <li><a routerLink="/standart">Стандарт</a> </li>
                <li><a routerLink="/econom">Економ</a> </li>
            </ul>
        </li>
        <li>
            
            <a routerLink="/restaurant">Ресторани та бари</a>
            <ul>
                <li><a routerLink="/salut">Pесторан «Залибоба»</a></li>
                <li><a routerLink="/confectionery">Кафе-кондитерська</a></li>
                <li><a routerLink="/aple">Кафе "Яблуко"</a></li>
                <li><a routerLink="/bar">Бар - Більярд</a></li>
            </ul>
        </li>
        <li><a routerLink="/conference">Конференції та банкети</a>
            <ul>
                <li><a routerLink="/zalet">Конференц-зал «Залет»</a></li>
                <li><a routerLink="/smallHall">Малий конференц-зал</a></li>
                <li><a routerLink="/meetingRoom">Переговорна кімната</a></li>
            </ul>
        </li>
        <li><a routerLink="/attendance">Послуги</a></li>
        <li><a routerLink="/specProposalsotel">Спеціальні пропозиції</a>
        <ul>
            <li><a routerLink="/weekendoff">Tариф вихідного дня</a></li>
            <li><a routerLink="/longstay">Тривале проживання</a></li>
            <li><a routerLink="/hourly">Погодинний тариф</a></li>
            <li><a routerLink="/daily">Денний тариф</a></li>
            <li><a routerLink="/birth">Знижки для іменинників в готелі «Заласся»</a></li>
        </ul>
        </li>
        <li><a routerLink="/contacts">Контакти</a></li>
    </ul>
    <div class="map-backpage">
            <button (click)="goBack()">повернутися</button>
        </div>
</div>