@import '../../../../../styles.scss';
.map-main {
    @include main;
    h1 {
        text-align: center;
        color: #003B6E;
        font-weight: 900;
        font-size: 18px;
        padding-top: 20px;
    }
    span {
        text-transform: uppercase;
    }
    .map-backpage button {
        @include backpage;
    }
    .map-gapline {
        padding: 1px;
    }
}

@media (max-width: 960px) {
    .map-main {
        @include main960;
        height: 100%;
        h1 {
            font-size: 28px;
        }
        .map-line span, a {
            font-size: $fontSize;            
        }
        .map-backpage button {
            @include backpage_960;                            
        }
    }
}