<div class="conference-main">
    <h1 class="conference-hide">Конференції та банкети</h1>
    <div class="conference-ban">
        <img src="https://picua.org/images/2019/08/03/3d15eb40028016f674a326d9892c9390.jpg" alt="">
    </div>

    <div class="conference-title">
        <h1>Наші конференц можливості:</h1>
    </div>

    <div class="conference-list-wrap">

        <div class="conference-list">
            <div class="conference-pic">
                <img src="https://picua.org/images/2019/11/16/e55264ae485e381220a4b778b7b50e91.jpg" alt="">
            </div>

            <div class="conference-list-title">
                <h2>Конференц-зал <br> «Залет»</h2>
                <p>Зал на 70 місць <br> (100 м<sup>2</sup>)</p>
                <div class="conference-list-button">

                    <a routerLink="/zalet">детальніше</a>

                </div>
            </div>
        </div>

        <div class="conference-list">
            <div class="conference-pic">
                <img src="https://picua.org/images/2019/11/16/da0f950df5a27b5d46ee4e6c11300910.jpg" alt="">
            </div>

            <div class="conference-list-title">
                <h2>Малий <br> конференц-зал</h2>
                <p>Зал на 20 місць <br> (32 м<sup>2</sup>)</p>
                <div class="conference-list-button">

                    <a routerLink="/smallHall">детальніше</a>

                </div>
            </div>

        </div>

        <div class="conference-list">
            <div class="conference-pic">
                <img src="https://picua.org/images/2019/11/16/3393a388239a4899e68c96869dd7fc48.jpg" alt="">
            </div>

            <div class="conference-list-title">
                <h2>Переговорна<br> кімната</h2>
                <p> Кімната на 14 місць <br>(34 м<sup>2</sup>)</p>
                <div class="conference-list-button">

                    <a routerLink="/meetingRoom">детальніше</a>

                </div>
            </div>

        </div>

    </div>
    <div class="conference-gapline"></div>
</div>