@import '../../../styles.scss';
.conference-main {
    @include main;
    .conference-ban {
        width: 91%;
        img {
            @include img-style;
            margin: 5%;
        }
    }
    .conference-hide {
        display: none;
    }
    .conference-title h1 {
        margin: 20px;
        @include h1style;
        text-align: center;
    }
    .conference-list-wrap {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
        grid-gap: 1vw;
        justify-items: center;
        margin: 2.5% 5% 5% 5%;
        .conference-list {
            @include grid-interior;
        }
        h2 {
            @include h2style;
        }
        a {
            @include blue-button-a;
        }
    }
    .conference-pic {
        width: 60%;           
        img {
            @include img-style;
        }
    }
    .conference-gapline {
        padding: 1px;
    }
}

@media (max-width: 960px) {
    .conference-main {
        @include main960;
        .conference-ban {
            width: 100%;
            img {
                display: block;
                margin: auto;                
            }            
        }
        .conference-hide {
            @include hide;
        }
        .conference-title h1 {
            font-size: 28px;
            text-align: center;
        }
        .conference-list-wrap {
            grid-template-columns: repeat(1, 1fr);            
            .conference-list {
                grid-template-columns: repeat(1, 1fr);                
            }
            .conference-list-title {
                h2, p {
                    font-size: $fontSize;
                    text-align: center;
                }
            }
            a {
                width: 100%;
                height: 50px;
                margin: 0 auto 40px auto;
                font-size: $fontSize;
                padding-top: 10px;               
            }
        }
    }
}
 