<div class="conference-main">
    <h1 class="conference-hide">Конференції та банкети</h1>
    <div class="conference-ban">
        <img src="https://picua.org/images/2019/08/03/3d15eb40028016f674a326d9892c9390.jpg" alt="">
    </div>

    <div class="conference-title">
        <h1>Наші конференц можливості:</h1>
    </div>

    <div class="conference-list-wrap">

        <div class="conference-list">
            <div class="conference-pic">
                <img src="../../../assets/img/hall_zalet.jpg" alt="">
            </div>

            <div class="conference-list-title">
                <h2>Конференц-зал <br> «Залет»</h2>
                <p>Зал на 70 місць <br> (100 м<sup>2</sup>)</p>
                <div class="conference-list-button">
                    <button>
                        <a routerLink="/zalet">детальніше</a>
                    </button>
                </div>
            </div>
        </div>

        <div class="conference-list">
            <div class="conference-pic">
                <img src="../../../assets/img/Small_Conference.jpg" alt="">
            </div>

            <div class="conference-list-title">
                <h2>Малий <br> конференц-зал</h2>
                <p>Зал на 20 місць <br> (32 м<sup>2</sup>)</p>
                <div class="conference-list-button">
                    <button>
                        <a routerLink="/smallHall">детальніше</a>
                    </button>
                </div>
            </div>

        </div>

        <div class="conference-list">
            <div class="conference-pic">
                <img src="../../../assets/img/Meeting_Room.jpg" alt="">
            </div>

            <div class="conference-list-title">
                <h2>Переговорна<br> кімната</h2>
                <p> Кімната на 14 місць <br>(34 м<sup>2</sup>)</p>
                <div class="conference-list-button">
                    <button>
                        <a routerLink="/meetingRoom">детальніше</a>
                    </button>
                </div>
            </div>

        </div>

    </div>
    <div class="conference-gapline"></div>
</div>