<div class="superior-main">
    <div class="superior-title">
        <div class="superior-pic">
            <img src="https://picua.org/images/2019/11/18/143b94c676e8e53a10fea71169afe43f.jpg" alt="">
        </div>

        <h5>Стандарт покращений</h5>
        <p>Комфортний однокімнатний номер з середньою площею 20 м<sup>2</sup>, ванна кімната – 3,2 м<sup>2</sup>.
            Ширина ліжка – 160 см.</p>
        <p>Всі номери цієї категорії з балконами. Номер чудово підходить як для одномісного так і для двомісного
            розміщення.</p>
    </div>
    <div class="superior-tariffe">
        <div class="superior-tariffe-bloc">
            <div class="superior-tariffe-bloc-title">Проживання</div>
            <div>1 людина <span>2500</span> грн.</div>
            <div>2 людина <span>2500</span> грн.</div>

        </div>
        <div class="superior-tariffe-bloc">
            <div class="superior-tariffe-bloc-title">Проживання + сніданок</div>
            <div><span>2740 </span> грн.</div>
            <div><span>2980 </span> грн.</div>

        </div>

    </div>
    <p class="superior-mobile">Ціна вказана за номер на добу.</p>
    <div class="superior-inclusive">
        <p>Інтер’єр номерів може бути різним<br>Кількість номерів - 48</p>
        <h5>В номері:</h5>
        <ul>
            <li>Набір меблів</li>
            <li>Кондиціонер</li>
            <li>ТВ (кабельне)</li>
            <li>Безкоштовний WI-FI</li>
            <li>Телефон (прямий міжнародний доступ)</li>
            <li>Міні-бар</li>
            <li>Міні-сейф</li>
            <li>Фен</li>
            <li>Набір міні-парфумерії у ванній кімнаті</li>
            <li>Набір рушників, капці</li>
            <li>Палити в номерах <span>заборонено!</span> </li>
        </ul>
    </div>
    <div class="superior-galery">
        <h5>Фотогалерея:</h5>
        <img (click)=toggleDisplay() src="https://picua.org/images/2019/11/16/f5c64624df37701f654fcc647753d0a9.png" alt="">
        <div [hidden]="isShow" class="black-window">
            <img class="modal-close" (click)=toggleDisplay()
                src="https://picua.org/images/2019/12/08/93abd84ecdd3cf125f4703643f6eab46.png" alt="">

            <div class="slider">

                <input type="radio" name="slide_switch" id="id1" checked="checked" />
                <label id="first-pic" for="id1">
                    <img src="https://picua.org/images/2019/11/18/9bc98e6ac829e06dfc140fabf4f75f5c.jpg" alt="">
                </label>
                <img src="https://picua.org/images/2019/11/18/9bc98e6ac829e06dfc140fabf4f75f5c.jpg" alt="">

                <input type="radio" name="slide_switch" id="id2" />
                <label for="id2">
                    <img src="https://picua.org/images/2019/12/08/75eb0cd248dd1ba047ca0bbaaaba5680.jpg" alt="">
                </label>
                <img src="https://picua.org/images/2019/12/08/75eb0cd248dd1ba047ca0bbaaaba5680.jpg" alt="">

                <input type="radio" name="slide_switch" id="id3" />
                <label for="id3">
                    <img src="https://picua.org/images/2019/11/18/346709710009b840a575d65bb822b890.jpg" alt="">
                </label>
                <img src="https://picua.org/images/2019/11/18/346709710009b840a575d65bb822b890.jpg" alt="">

                <input type="radio" name="slide_switch" id="id4" />
                <label for="id4">
                    <img src="https://picua.org/images/2019/11/18/143b94c676e8e53a10fea71169afe43f.jpg" alt="">
                </label>
                <img src="https://picua.org/images/2019/11/18/143b94c676e8e53a10fea71169afe43f.jpg" alt="">

                <input type="radio" name="slide_switch" id="id5" />
                <label class="last-pic" for="id5">
                    <img src="https://picua.org/images/2019/11/18/cc16d0c3c078f7048f9843dda8614742.jpg" alt="">
                </label>
                <img src="https://picua.org/images/2019/11/18/cc16d0c3c078f7048f9843dda8614742.jpg" alt="">
            </div>
        </div>
    </div>
    <div class="superior-backpage">
        <button (click)="goBack()">повернутися</button>
    </div>
    <div class="superior-gapline"></div>
</div>