<div class="superior-main">
    <div class="superior-title">
        <div class="superior-pic">
            <img src="../../../../../assets/img/standart_ulut.png" alt="">
        </div>

        <h5>Стандарт покращений</h5>
        <p>Комфортний однокімнатний номер з середньою площею 20 м<sup>2</sup>, ванна кімната – 3,2 м<sup>2</sup>.
            Ширина ліжка – 160 см.</p>
        <p>Всі номери цієї категорії з балконами. Номер чудово підходить як для одномісного так і для двомісного
            розміщення.</p>
    </div>
    <div class="superior-tariffe">
        <div class="superior-tariffe-bloc">
            <div class="superior-tariffe-bloc-title">Проживання</div>
            <div>1 людина <span>2500</span> грн.</div>
            <div>2 людина <span>2500</span> грн.</div>

        </div>
        <div class="superior-tariffe-bloc">
            <div class="superior-tariffe-bloc-title">Проживання + сніданок</div>
            <div><span>2740 </span> грн.</div>
            <div><span>2980 </span> грн.</div>

        </div>
        <p>Ціна вказана за номер на добу.</p>
    </div>
    <div class="superior-inclusive">
        <p>Інтер’єр номерів може бути різним<br>Кількість номерів - 48</p>
        <h5>В номері:</h5>
        <ul>
            <li>Набір меблів</li>
            <li>Кондиціонер</li>
            <li>ТВ (кабельне)</li>
            <li>Безкоштовний WI-FI</li>
            <li>Телефон (прямий міжнародний доступ)</li>
            <li>Міні-бар</li>
            <li>Міні-сейф</li>
            <li>Фен</li>
            <li>Набір міні-парфумерії у ванній кімнаті</li>
            <li>Набір рушників, капці</li>
            <li>Палити в номерах <span>заборонено!</span> </li>
        </ul>
    </div>
    <div class="superior-galery">
        <h5>Фотогалерея:</h5>
        <img src="../../../../../assets/img/1383928833stan_ul_2.jpg" alt="">
    </div>
    <div class="superior-backpage">
        <button (click)="goBack()">повернутися</button>
    </div>
</div>