<div class="room-main">
    <h1 class="room-hide">Hомери</h1>
    <div class="room-ban">
        <img src="https://picua.org/images/2019/07/30/09eb3b60087d74ac563506340207cba5.jpg" alt="">
    </div>

    <div class="room-info">
        <p>
            В готелі «Заласся» представлено 89 номерів різної категорії. Всі номери виповнені у класичному
            стилі, в теплих пісочних відтінках. З вікон наших номерів відкривається чудовий панорамний вид
            на Дніпро та Києво-Печерську Лавру. У нас Ви знайдете все для вашого комфортного перебування у
            Києві.
        </p>
    </div>

    <div class="room-wrap-addInfo">
        <div class="room-addInfo-hide">
            <div>
                <img src="https://picua.org/images/2019/07/30/0140d2b8c82e97e83027ec37941e1cbe.jpg" alt="">
                <p class="room-addInfo-hide-1">Однокімнатний номер Напівлюкс, дозволяє розміщувати людей із обмеженими
                    можливостями</p>
            </div>
            <div>
                <img src="https://picua.org/images/2019/07/30/f56b5ab256d5280f5f55baf20dc0a597.jpg" alt="">
                <p>
                    У наших номерах не палять
                </p>
            </div>
        </div>

        <div class="room-addInfo">
            <img src="https://picua.org/images/2019/07/30/0140d2b8c82e97e83027ec37941e1cbe.jpg" alt="">

            <div class="room-addInfo-hover ">
                <img src="https://picua.org/images/2019/07/30/0140d2b8c82e97e83027ec37941e1cbe.jpg" alt="">
                <p>
                    Однокімнатний номер Напівлюкс, дозволяє розміщувати людей із обмеженими
                    можливостями
                </p>
            </div>
        </div>

        <div class="room-addInfo disabled">
            <img src="https://picua.org/images/2019/07/30/f56b5ab256d5280f5f55baf20dc0a597.jpg" alt="">

            <div class="room-addInfo-hover">
                <img src="https://picua.org/images/2019/07/30/f56b5ab256d5280f5f55baf20dc0a597.jpg" alt="">
                <p>
                    У наших номерах не палять
                </p>
            </div>
        </div>
    </div>


    <div class="room-title">
        <h1>До послуг наших гостей:</h1>
    </div>

    <div class="room-list-wrap">

        <div class="room-list">
            <div class="room-pic">
                <img src="https://picua.org/images/2019/11/16/741951b5a9ab2a5062dc6131f99af30e.jpg" alt="">
            </div>
            <div class="room-list-title">
                <h2>Люкс</h2>
                Площа номера - <b>41 м<sup>2</sup></b><br> Ширина ліжка - <b>160 см</b><br><span><b>3100</b> грн.</span>
                <div class="room-list-button">
                    <button>
                        <a routerLink="/lux">детальніше</a>
                    </button>
                </div>
            </div>

        </div>

        <div class="room-list">
            <div class="room-pic">
                <img src="https://picua.org/images/2019/11/16/46b7d417d76b58776c03111b3a5d253b.jpg" alt="">
            </div>
            <div class="room-list-title">
                <h2>Напівлюкс</h2>
                Площа номера - <b>40 м<sup>2</sup></b><br> Ширина ліжка - <b>160 см</b><br><span><b>2700</b> грн.</span>
                <div class="room-list-button">
                    <button>
                        <a routerLink="/halflux">детальніше</a>
                    </button>
                </div>
            </div>

        </div>

        <div class="room-list">
            <div class="room-pic">
                <img src="https://picua.org/images/2019/11/16/f5c64624df37701f654fcc647753d0a9.png" alt="">
            </div>
            <div class="room-list-title">
                <h2>Стандарт <br> покращений</h2>
                Площа номера - <b>20 м<sup>2</sup></b><br>Ширина ліжка - <b>160 см</b><br><span><b>2500</b> грн.</span>
                <div class="room-list-button">
                    <button>
                        <a routerLink="/superior">детальніше</a>
                    </button>
                </div>
            </div>

        </div>

        <div class="room-list">
            <div class="room-pic">
                <img src="https://picua.org/images/2019/11/16/ef0dae15d7e765481bdd6249eff119c8.png" alt="">
            </div>
            <div class="room-list-title">
                <h2>Стандарт з 2-ма <br> ліжками</h2>
                Площа номера - <b>20 м<sup>2</sup></b> <br>Ширина ліжка - <b>90 см</b><br><span><b>2200</b> грн.</span>
                <div class="room-list-button">
                    <button>
                        <a routerLink="/standartTwin">детальніше</a>
                    </button>
                </div>
            </div>

        </div>

        <div class="room-list">
            <div class="room-pic">
                <img src="https://picua.org/images/2019/11/16/0a7dfe90d41eadc6467d890302252dc4.png" alt="">
            </div>
            <div class="room-list-title">
                <h2>Стандарт</h2>
                Площа номера - <b>20 м<sup>2</sup></b> <br>Ширина ліжка - <b>160 см</b><br><span><b>2200</b> грн.</span>
                <div class="room-list-button">
                    <button>
                        <a routerLink="/standart">детальніше</a>
                    </button>
                </div>
            </div>

        </div>

        <div class="room-list">
            <div class="room-pic">
                <img src="https://picua.org/images/2019/11/16/a25f9aefefd4650a93049981e93f4a6d.png" alt="">
            </div>
            <div class="room-list-title">
                <h2>Економ</h2>
                Площа номера - <b>17 м<sup>2</sup></b> <br>Ширина ліжка - <b>160 см</b> <br><span><b>1700</b>
                    грн.</span>
                <div class="room-list-button">
                    <button>
                        <a routerLink="/econom">детальніше</a>
                    </button>
                </div>
            </div>

        </div>

    </div>
    <div class="room-list-tariffs">
        <button>
            <a routerLink="/tariffs">Перелік тарифів і правила проживання</a>
        </button>
    </div>
</div>