@import '../../../../../styles.scss';
.standart-main {
    @include main;
    .standart-pic {
        width: 40%;
        img {
        float: left;
        box-shadow: #ccc 0 0 5px;
        border: 3px solid #fff;
        max-width: 100%;
        margin: 20px;            
        }
    }
    h5 {
        color: #00407A;
        margin-left: 20px;
        font-weight: 700;
    }
    .standart-title h5 {
        padding-top: 20px;
    }
    p {
        margin: 20px;
    }
    .standart-tariffe {
        font: 600 15px OpenSans;
        text-align: center;
        span{
            font-size: 20px;
            color: #3075b3;
            margin-left: 18px;
        }
        .standart-tariffe-bloc {
            width: 210px;
            float: left;
            margin-bottom: 10px; 
        }
        .standart-tariffe-bloc-title {
            color: #003b6e;
            margin-bottom: 20px; 
        }
        p {
            font-size: 12px;
            text-align: left;
            margin-bottom: 30px;
        }
    }
    .standart-inclusive span {
        text-transform: uppercase;
    }
    .standart-galery {
        width: 40%;
        img {
            box-shadow: #ccc 0 0 5px;
            border: 3px solid #fff;
            max-width: 100%;
            margin: 20px;            
        }
    }
    .standart-backpage button {
        width: 150px;
        height: 30px;
        margin-left: 20px;
        color: azure;
        font-size: 18px;
        background: linear-gradient(0deg, #888888, #F7F7F7)
    }
}