<div class="standart-main">
    <div class="standart-title">
        <div class="standart-pic">
            <img src="../../../../../assets/img/standart.png" alt="">
        </div>

        <h5>Стандарт</h5>
        <p>Однокімнатний номер з середньою площею 20 м<sup>2</sup>. <br>
            Bанна кімната – 3,2 м<sup>2</sup>.<br>
            Ширина ліжка – 160 см.<br>
            Всі номери цієї категорії з балконами. Номер чудово підходить як для одномісного так і для двомісного
            розміщення.</p>
    </div>
    <div class="standart-tariffe">
        <div class="standart-tariffe-bloc">
            <div class="standart-tariffe-bloc-title">Проживання</div>
            <div>1 людина <span>2200 </span> грн.</div>
            <div>2 людина <span>2200 </span> грн.</div>

        </div>
        <div class="standart-tariffe-bloc">
            <div class="standart-tariffe-bloc-title">Проживання + сніданок</div>
            <div><span>2440 </span> грн.</div>
            <div><span>2680 </span> грн.</div>

        </div>
        <p>Ціна вказана за номер на добу.</p>
    </div>
    <div class="standart-inclusive">
        <p>Інтер’єр номерів може бути різним<br>Кількість номерів - 8</p>
        <h5>В номері:</h5>
        <ul>
            <li>Набір меблів</li>
            <li>Кондиціонер</li>
            <li>ТВ (кабельне)</li>
            <li>Безкоштовний WI-FI</li>
            <li>Телефон (прямий міжнародний доступ)</li>
            <li>Міні-бар</li>
            <li>Міні-сейф</li>
            <li>Фен</li>
            <li>Набір міні-парфумерії у ванній кімнаті</li>
            <li>Набір рушників, капці</li>
            <li>Палити в номерах <span>заборонено!</span> </li>
        </ul>
    </div>
    <div class="standart-galery">
        <h5>Фотогалерея:</h5>
        <img src="../../../../../assets/img/1383928563stan_2.jpg" alt="">
    </div>
    <div class="standart-backpage">
        <button (click)="goBack()">повернутися</button>
    </div>
</div>