<div class="daily-tariff-main">
    <div class="daily-pic">
        <img src="https://picua.org/images/2019/11/17/156b9fd85b0d1e653242367e3dee2b15.jpg" alt="">
    </div>

    <h5>Денний тариф</h5>
    <p>Якщо Ви приїжджаєте до Києва на ділову зустріч та не плануєте залишатися на ніч, скористуйтеся нашим денним
        тарифом. Тепер у Вас є можливість підготуватися до ділової зустрічі не сплачуючи зайвого!
    </p>
    <p><span>Час дії денного тарифу:</span> з 9:00 до 18:00 <br>
        <span>Вартість денного тарифу:</span> 1250 грн. ("Стандарт покращений"), 1550 грн. ("Люкс")
    </p>
    <p>
        Скориставшись даною пропозицією Ви отримуєте знижку у розмірі 30% на переговорну кімнату в нашому готелі. <br>
        У Вас є можливість відпочити в номері, випити чашку кави або чаю, скуштувати дивовижну домашню випічку в одному
        з наших кафе; спробувати та віддати належне блюдам нашого шефа-кухаря в ресторані
    </p>
    <p>* Тариф дійсний з 09:00 до 18:00<br>
        *Фіксована оплата за період (9 годин) не залежить від кількості годин перебування <br>
        *Сніданок оплачується додатково<br>
        *Денний тариф діє лише за умови поселення в номерах категорії «Стандарт покращений», «Люкс»
    </p>
    <p>
        За бажанням гостя продовжити своє перебування в нашому готелі,<span>діють стандартні тарифи</span> з врахуванням
        гнучких знижок для постійних клієнтів
    </p>
    <div class="daily-tariff-backpage">
        <button (click)="goBack()">повернутися</button>
    </div>
</div>