@import '../../../../../styles.scss';
.daily-tariff-main {
    width: 57%;
    height: 700px;
    margin-left: 420px;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: #777 2px 2px 13px;
    background: #fff;
    .daily-pic {
        width: 100%;
        img {
        float: left;
        @include img-interior;                    
        }
    }
    h5 {
        color: #00407A;
        font-weight: 700;
        padding-top: 20px;
        text-align: center;
        margin: 0 20px 0 20px;
        text-transform: uppercase;
    }
    p:nth-of-type(1) {
        color: #126C00;
        font-size: 14px;
        font-weight: 700;
        text-align: center;
        margin: 20px;
    }
    p:nth-of-type(2) {
        font-size: 14px;
        color: #00407A;
        margin: 40px 40px 40px 20px;
        span {
            font-size: 14px;
            font-weight: 700;
        }
    }
    p:nth-of-type(3) {
        margin: 0 20px 0 20px;
        font-weight: 700;
    }
    p:nth-of-type(4) {
        margin: 20px;
    }
    p:nth-of-type(5) {
        margin: 20px;
        text-align: center;
        span {
            font-weight: 700;
        }
    }
    button {
        @include backpage;
    }
}

@media (max-width: 960px) {
    .daily-tariff-main {
        @include main960;
        height: 100%;
        .daily-pic {
            img {
            float: none;
            display: block;
            margin: 40px auto 0;                            
            }
        }
        p, h5, span, #daily-mobile  {
            font-size: $fontSize;
            span {
                font-size: $fontSize;
            }
        }
        .daily-tariff-backpage {
            padding-bottom: 1px;
            button {
                @include backpage_960;                            
            }
        } 
    }
}